<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head tag -->
<div th:replace="~{header :: content}"></div>
<!-- Head tag ends -->

<!-- Body -->

<body class="sidemenu-open">
<!-- loader -->
<div th:replace="~{loader :: content}"></div>

<!-- Sidebar starts -->
<div th:replace="~{sidebar :: content}"></div>
<!-- Sidebar ends -->
<!-- wrapper starts -->
<div class="wrapper">

    <div class="content shadow-sm ">
        <!-- Header-container Starts -->
        <div th:replace="~{header-container :: content}"></div>
        <!-- Header-container Ends -->


        <!-- Main container starts -->
        <div class="container main-containe" id="main-container">
            <div class="card border-0 shadow-sm mb-4">
                <div class="card-header border-0 bg-none">
                    <div class="row">
                        <div class="col-12 col-md">
                            <p class="fs15" th:text="${title}">Список сотрудников</p>
                        </div>
                        <div class="col-auto align-self-center">
                            <button class="btn btn-sm btn-outline-template ml-2" data-toggle="modal" data-target="#addModal">
                                <i class="material-icons md-18">add</i> Добаить
                            </button>
                            <button class="btn btn-sm btn-outline-template ml-2">
                                <i class="material-icons md-18">cloud_download</i> Export
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table w-100 mb-0">
                        <thead>
                        <tr>
                            <th class="all">ID</th>
                            <th class="min-tablet">Код клиента</th>
                            <th class="min-tablet">Наименование</th>
                            <th class="min-tablet">Телефон</th>
                            <th class="min-tablet">Почта</th>
                            <th class="min-tablet">Адрес</th>
                            <th class="">Статус</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody th:each="customer, iterStat : ${customerList}">
                        <tr>
                            <!-- {index = 1, count = 2, size = 7, current = Antarctica} -->
                            <!-- Employee(employeeID=0, employeeName=Тыняный Андрей, tabNum=00001, del=false, roleID=7) -->
                            <td th:text="${customer.customerID}">0001</td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${customer.getCustomerCode()}">customerCode</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${customer.getCustomerName()}">customerName</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${customer.getPhone()}">phone</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${customer.getEmail()}">email</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${customer.getAddress()}">address</p>
                            </td>
                            <td>
                                <span th:if="${customer.getDel() == false}"><div class="btn-success btn btn-sm">Активен</div></span>
                                <span th:if="${customer.getDel() == true}"><div class="btn-danger btn btn-sm">Отключен</div></span>

                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle btn-sm btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_horiz</i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#viewModal_id_'+${customer.getCustomerID()}">Просмотр</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#editModal_id_'+${customer.getCustomerID()}">Редактировать</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#delModal_id_'+${customer.getCustomerID()}">Удалить</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:replace="~{pagings :: content}"></div>
            </div>
        </div>
        <!-- Main container ends -->
        <!-- Всплывающие сообщения -->
        <div th:replace="~{update_record_modal :: content}"></div>
        <!-- Всплывающие сообщения END -->
    </div>

    <!-- Footer starts -->
    <div th:replace="~{footer :: content}"></div>
    <!-- Footer ends -->

</div>
<!-- wrapper ends -->

<!-- Modal -->
<!-- Модалки для редактирования строк -->
<span th:each="customer, iterStat : ${customerList}">
    <!-- Modal -->
    <div class="modal fade" th:id="'viewModal_id_'+${customer.getCustomerID()}" tabindex="-1" role="dialog" th:aria-labelledby="'viewModal_id_'+${customer.getCustomerID()}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'viewModalLabel'+${customer.getCustomerID()}" th:text="'Клиент: ' + ${customer.getCustomerName()}">Клиент: Название </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="customerID" th:value="${customer.getCustomerID()}">

                    <div class="form-group">
                        <label>Код клиента</label>
                        <input type="text" class="form-control form-control-lg" name="customerCode" th:value="${customer.getCustomerCode()}">
                    </div>
                    <div class="form-group">
                        <label>Наименование</label>
                        <input type="text" class="form-control form-control-lg" name="customerName" th:value="${customer.getCustomerName()}">
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                        <label>Телефон</label>
                        <input type="text" class="form-control form-control-lg" name="phone" th:value="${customer.getPhone()}">
                    </div>
                    <div class="form-group col-6">
                        <label>Почта</label>
                        <input type="text" class="form-control form-control-lg" name="email" th:value="${customer.getEmail()}">
                    </div>
                    </div>

                    <div class="form-group">
                            <label>Адрес</label>
                            <textarea class="form-control" rows="3" name="address" th:text="${customer.getAddress()}">Адрес клиента</textarea>
                    </div>

                    <div class="form-group row">
                        <div class="col-6">
                            <label >Время начала работы</label>
                            <input type="time" class="form-control form-control-lg" name="workingTimeStr" th:value="${customer.getWorkingTimeStr()}">
                        </div>
                        <div class="col-6">
                            <label >Время окончания работы</label>
                            <input type="time" class="form-control form-control-lg" name="workingTimeEnd" th:value="${customer.getWorkingTimeEnd()}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'editModal_id_'+${customer.customerID}" tabindex="-1" role="dialog" th:aria-labelledby="'editModal_id_'+${customer.customerID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'editModalLabel'+${customer.customerID}" th:text="'Редактировать клиента: ' + ${customer.getCustomerCode()}+ ' : ' + ${customer.getCustomerName()}">Редактировать клиента: Название клиента</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:id="'editForm_id_'+${customer.customerID}" th:action="@{${baseUrl}+'/update'}">
                        <input type="hidden" name="customerID" th:value="${customer.customerID}">
                        <input type="hidden" name="del" th:value="${customer.getDel()}">

                        <div class="form-group">
                            <label>Код клиента</label>
                            <input type="text" class="form-control form-control-lg" name="customerCode" readonly th:value="${customer.getCustomerCode()}">
                        </div>
                        <div class="form-group">
                            <label>Наименование</label>
                            <input type="text" class="form-control form-control-lg" name="customerName" th:value="${customer.getCustomerName()}">
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                            <label>Телефон</label>
                            <input type="text" class="form-control form-control-lg" name="phone" th:value="${customer.getPhone()}">
                            </div>
                            <div class="form-group col-6">
                                <label>Почта</label>
                                <input type="text" class="form-control form-control-lg" name="email" th:value="${customer.getEmail()}">
                            </div>
                        </div>

                        <div class="form-group">
                                <label>Адрес</label>
                                <textarea class="form-control" rows="3" name="address" th:text="${customer.getAddress()}">Адрес клиента</textarea>
                        </div>

                        <div class="form-group row">
                            <div class="col-6">
                                <label >Время начала работы</label>
                                <input type="time" class="form-control form-control-lg" name="workingTimeStr" th:value="${customer.getWorkingTimeStr()}">
                            </div>
                            <div class="col-6">
                                <label >Время окончания работы</label>
                                <input type="time" class="form-control form-control-lg" name="workingTimeEnd" th:value="${customer.getWorkingTimeEnd()}">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'editForm_id_'+${customer.customerID}">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal DELETE -->
    <div class="modal fade" th:id="'delModal_id_'+${customer.getCustomerID()}" tabindex="-1" role="dialog" th:aria-labelledby="'delModal_id_'+${customer.getCustomerID()}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'delModalLabel'+${customer.getCustomerID()}" th:text="'Удалить клиента:'+${customer.getCustomerCode()}+ ' : ' + ${customer.getCustomerName()}">Удалить клиента: название клиента</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:id="'editForm_id_'+${customer.getCustomerID()}" th:action="@{${baseUrl}+'/del'}">
                        <input type="hidden" name="zoneId" th:value="${customer.getCustomerID()}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'delForm_id_'+${customer.customerID}">Удалить</button>
                </div>
            </div>
        </div>
    </div>

</span>
<!-- Modal update list -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" th:aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-darkblue text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel" >Обновление списка клиентов</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Загрузка...</span>
                </div>
                <div> Подождите идет обновление ...</div>
            </div>
        </div>
    </div>
</div>



<div th:replace="~{scripts_connect :: content}"></div>

<!-- Customized page level js -->
<script>
    'use strict'
    $(document).ready(function() {
        /* task dropdown action */
        $('#tasks a').on('click', function(e) {
            e.preventDefault()
            $(this).tab('show')
        });

        /* calander picker */
        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#daterangeadminux span').html(start.format('MMM D, YY') + ' - ' + end.format('MMM D, YY'));
        }

        $('#daterangeadminux').daterangepicker({
            startDate: start,
            endDate: end,
            opens: 'left',
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);
        $('#daterangeadminux').on('show.daterangepicker', function(ev, picker) {
            var thisdp = $('.daterangepicker');
            setTimeout(function() {
                thisdp.addClass('active');
            }, 100);
        });
        $('#daterangeadminux').on('hide.daterangepicker', function(ev, picker) {
            var thisdpc = $('.daterangepicker');
            thisdpc.removeClass('active');

        });
        var path = '../assets/img/background-part.png';
        $('.daterangepicker').append('<div class="background" style="background-image: url(' + path + '); z-index:-1; height:80px;"><img th:src="@{/img/background-part.png}" alt="" style="display:none"></div>')
        /* calander picker ends */

    });

</script>
<!-- Customized page level js ends -->
</body>

<!-- Body ends -->

</html>