<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<!-- Head tag -->
<div th:replace="~{header :: content}"></div>
<!-- Head tag ends -->

<!-- Body -->

<body class="sidemenu-open">
<!-- loader -->
<div th:replace="~{loader :: content}"></div>

<!-- Sidebar starts -->
<div th:replace="~{sidebar :: content}"></div>
<!-- Sidebar ends -->
<!-- wrapper starts -->
<div class="wrapper">

    <div class="content shadow-sm ">
        <!-- Header-container Starts -->
        <div th:replace="~{header-container :: content}"></div>
        <!-- Header-container Ends -->


        <!-- Main container starts -->
        <div class="container main-containe" id="main-container">
            <div class="card border-0 shadow-sm mb-4">
                <div class="card-header border-0 bg-none">
                    <div class="row">
                        <div class="col-12 col-md">
                            <p class="fs15" th:text="${title}">Справочник товаров</p>
                        </div>
                        <div class="col-auto align-self-center">
                            <div class="dropdown d-inline-block ml-2">
                                <button type="button" class="btn btn-sm btn-outline-template ml-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons md-18">print</i> Документы <i class="material-icons">keyboard_arrow_down</i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Накладная</a>
                                    <a class="dropdown-item" href="#">Акт приемки (ТОРГ-1)</a>
                                    <a class="dropdown-item" href="#">Акт расхождения (ТОРГ-2)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" >
                    <div class="card mb-4 border-0 shadow-sm">
                        <div class="card-header border-0 py-4" th:classappend="${(orderHead.statusID == '2') ? 'bg-success' : ((orderHead.statusID == '3') ? 'bg-light-danger' : ( orderHead.statusID == '1' ? 'bg-light-info' : 'bg-light-warning'))}">
                            <div class="row">
                                <div class="col font-weight-bold">ПРИХОДНАЯ НАКЛАДНАЯ
                                    <br><small th:text="${orderHead.status}">Завершена</small> <!-- "В ожидании", "В процессе", "Завершена", "Отменена" -->
                                </div>
                                <div class="col text-right">
                                    <!-- {supplierName=Святогорский бумажный комбинат, factOrderDate=1, employeeName=Тыняный Андрей, orderERP=З30015456, orderId=2, employeeTabNum=00001, supplierCode=П000019, orderDate=2025-02-26 15:00:00.0, employeeRole=Администратор, status=В процессе}-->
                                    Заказ на закупку: <b th:text="${orderHead.orderERP}">Номер заказа на закупку в ERP</b>
                                    <br> ID: <b th:text="${orderHead.orderId}">Номер прихода в системе</b>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-4">
                                <div class="col-12 col-md-6">
                                    <p class="mb-2 font-weight-bold">Поставщик:</p>
                                    <p class="text-mute" ><span th:text="${orderHead.supplierName}">John Smith,</span>
                                        <br> Код поставщика: <span th:text="${orderHead.supplierCode}"></span>
                                    </p>
                                </div>
                                <div class="col-12 col-md-3">
                                    <p class="mb-2 font-weight-bold">Принял приход:</p>
                                    <p class="text-mute" ><span th:text="${orderHead.employeeName}">John Smith,</span>
                                        <br> Должность: <span th:text="${orderHead.employeeRole}"> </span>
                                        <br> Табельный номер: <span th:text="${orderHead.employeeTabNum}"></span></p>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <p class="mb-2 font-weight-bold">Ожидаемая дата прихода:</p>
                                    <p class="text-template-primary" th:text="${orderHead.orderDate}">March 7, 2014
                                </div>
                                <div class="col text-right">
                                    <p class="mb-2 font-weight-bold">Фактическая дата прихода:</p>
                                    <p class="text-template-primary"><span class="text-danger" th:text="${orderHead.factOrderDate}">April 21th, 2017</span></p>
                                </div>
                            </div>
                            <h3 class="text-center mb-4">Строки прихода</h3>
                            <table class="table mb-0 table-bordered datatable display responsive w-100 dataTable no-footer dtr-inline">
                                <thead>
                                <tr class="bg-light-secondary text-center">
                                    <th rowspan="2">ID</th>
                                    <th rowspan="2">Наименование</th>
                                    <th rowspan="2">Код</th>
                                    <th rowspan="2">ШтрихКод</th>
                                    <th colspan="2">Количество</th>
                                    <th colspan="2">Вес (кг)</th>
                                    <th colspan="2">Объем (м^2)</th>
                                    <th colspan="2"></th>

                                </tr>
                                <tr class="bg-light-secondary text-center">
                                    <th>По накладной</th>
                                    <th>Принятое</th>
                                    <th>По накладной</th>
                                    <th>Принятое</th>
                                    <th>По накладной</th>
                                    <th>Принятое</th>
                                </tr>
                                </thead>
                                <tbody th:each="orderItems, iterStat : ${orderLines}">
                                <tr>
                                    <td th:text="${orderItems.kol}">001</td>
                                    <!-- {code=109216, qntOrder=200, name=Ручка шарик. Linc CORONA PLUS синий 0,7 мм оранж. шестигран. корп., weightFact=1.1999999, kol=1, volumeFact=1.1999999, qntFact=120, weightOrder=2.0, percent=240, volumeOrder=2.0} -->
                                    <td ><a href="javascript:void(0)" data-toggle="modal" th:data-target="'#nameProductModal_id_'+${orderItems.productID}" th:text="${#strings.substring(orderItems.name, 0,10)} + '...'">name</a></td>
                                    <td th:text="${orderItems.code}">Код</td>
                                    <td th:text="${#strings.defaultString(orderItems.ext_barcode,orderItems.int_barcode)}">Код</td>
                                    <td th:text="${orderItems.qntOrder}">Количество По накладной</td>
                                    <td th:text="${orderItems.qntFact}">Количество Принятое</td>
                                    <td th:text="${orderItems.weightOrder}">Вес (кг) По накладной</td>
                                    <td th:text="${orderItems.weightFact}">Вес (кг) Принятое</td>
                                    <td th:text="${orderItems.volumeOrder}">Объем (м^2) По накладной</td>
                                    <td th:text="${orderItems.volumeFact}">Объем (м^2) Принятое</td>
                                    <td >
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle btn-sm btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="material-icons">more_horiz</i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#barCodeModal_id_'+${orderItems.productID}">ШтрихКод</a>
                                                <a th:if="${orderHead.statusID == '1'}" class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#editModal_id_'+${orderItems.productID}">Редактировать</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <p></p>
                            <br>
                        </div>
                        <div class="card-footer border-top">
                            <form id="form_close_receiving" method="post" action="/close">
                                <input type="hidden" name="id" th:value="${orderHead.orderId}">
                            </form>
                            <form id="form_del_receiving" method="post" action="/del">
                                <input type="hidden" name="id" th:value="${orderHead.orderId}">
                            </form>
                            <a href="/receiving/list" class="btn btn-outline-secondary">Назад</a>
                            <button type="submit" th:if="${orderHead.statusID == '1'}" form="form_close_receiving"  class="btn btn-outline-success float-right">Завершить приемку</button>
                            <button type="submit" th:if="${orderHead.statusID == '1'}" form="form_del_receiving"  class="btn btn-outline-danger float-right pr-1">Отменить приемку</button>
                            <button th:if="${orderHead.statusID == '0'}" class="btn btn-outline-template float-right" data-toggle="modal" data-target="#startReceiving">Начать приемку</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main container ends -->

        <!-- Всплывающие сообщения -->
        <div th:replace="~{update_record_modal :: content}"></div>
        <!-- Всплывающие сообщения END -->

    </div>

    <!-- Footer starts -->
    <div th:replace="~{footer :: content}"></div>
    <!-- Footer ends -->

</div>
<!-- wrapper ends -->

<!-- Модалки для редактирования строк -->
<span th:each="orderItems, iterStat : ${orderLines}">
    <!-- Modal -->
    <div class="modal fade" th:id="'editModal_id_'+${orderItems.productID}" tabindex="-1" role="dialog" th:aria-labelledby="'editModal_id_'+${orderItems.productID}" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'editModalLabel'+${orderItems.productID}" th:text="'Принемаем товар: ' + ${orderItems.name}">Принемаем товар: Название пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:id="'editForm_id_'+${orderItems.productID}" action="/receiving/update_string_product" method="post">
                        <input type="hidden" name="productId" th:value="${orderItems.productID}">
                        <input type="hidden" name="numLine" th:value="${orderItems.kol}">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Внешний штрих код</label>
                                    <input type="text" class="form-control form-control-lg" name="extBarcode" th:value="${orderItems.ext_barcode}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Внутрений штрих код</label>
                                    <input type="text" class="form-control form-control-lg" name="intBarcode" th:value="${orderItems.int_barcode}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Количество по накладной: </label>
                                    <input type="text" class="form-control form-control-lg" name="qntOrder" th:value="${orderItems.qntOrder}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Принятое количество: </label>
                                    <input type="text" class="form-control form-control-lg" name="qntFact" th:value="${orderItems.qntFact}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Зона хранения: </label>
                                    <select class="form-control" name = "zoneId" >
                                        <option th:each="zone : ${zoneList}" th:value="${zone.zoneID}" th:text="${zone.code}" th:selected="${zone.zoneID == orderItems.zoneId}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Место хранения: </label>
                                    <select class="form-control" name = "locationId" >
                                        <option th:each="location : ${locationList}" th:value="${location.locationID}" th:text="${location.locationCode}" th:selected="${location.locationID == orderItems.locationId}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Описание брака: </label>
                                    <textarea class="form-control" rows="4" th:text="${orderItems.note}" name="note"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Срок годности (если требуется): </label>
                                    <input type="date" class="form-control form-control-lg" name="expirationDate" th:value="${orderItems.expirationDate}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'editForm_id_'+${orderItems.productID}">Подтвердить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'nameProductModal_id_'+${orderItems.productID}" tabindex="-1" role="dialog" th:aria-labelledby="'nameProductModal_id_'+${orderItems.productID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'delModalLabel'+${orderItems.productID}" th:text="${orderItems.name}"></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'barCodeModal_id_'+${orderItems.productID}" tabindex="-1" role="dialog" th:aria-labelledby="'barCodeModal_id_'+${orderItems.productID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'barCodeModalLabel'+${orderItems.productID}" th:text="'Штрих-код товара:' + ${orderItems.name}">Удалить Зону хранения: Название роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="m-auto" style="width: 380px;">
                          <!-- вставляем сгенерированный код в виде векторного рисунка -->
                          <svg class="d-block m-auto" th:id="'barcode_'+${orderItems.productID}"></svg>
                          <script th:inline="javascript">
                              document.addEventListener('DOMContentLoaded', function(){
                                  JsBarcode([['#barcode_' + ${orderItems.productID}]], [[${#strings.defaultString(orderItems.ext_barcode,orderItems.int_barcode)}]], {
                                      format: "CODE128",
                                      displayValue: true,
                                      fontSize: 20,
                                      width: 2,
                                      height: 100
                                  });
                              });
                          </script>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'delForm_id_'+${orderItems.productID}">Печать</button>
                </div>
            </div>
        </div>
    </div>

</span>


<!-- Modal ADD -->
<div class="modal fade" id="startReceiving" tabindex="-1" role="dialog" th:aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-darkblue text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel" >Активация приемки</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addForm" th:action="@{'/'+${baseUrl}+'/start_receiving'}" method="post">
                    <input type="hidden" name="orderID" th:value="${orderHead.orderId}">
                    <div class="form-group">
                        <label>Фактическая дата поступления:</label>
                        <input type="date" class="form-control form-control-lg" name="dt" th:value="${#dates.format(#dates.createNow(),'yyyy/MM/dd')}">
                    </div>
                    <div class="form-group" >
                        <label>Сотрудник:</label>
                        <select class="form-control" name = "employeeID" >
                            <option th:each="employee : ${employeeList}" th:value="${employee.employeeID}" th:text="${employee.employeeName}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="addForm">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<!-- Theme style picker modal window and options ends -->

<!-- Global js mandatory -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script><script th:src="@{/vendor/cookie/jquery.cookie.js}"></script>
<!-- Global js ends -->

<!-- Vendor or 3rd party js -->

<!-- date range picker -->
<script th:src="@{/vendor/daterangepicker-master/moment.min.js}"></script>
<script th:src="@{/vendor/daterangepicker-master/daterangepicker.js}"></script>


<!-- Vendor or 3rd party js ends -->

<!-- Customized template js mandatory -->
<script th:src="@{/js/main.js}"></script>
<!-- Customized template js ends -->

<!-- theme picker -->
<script th:src="@{/js/style-picker.js}"></script>
<!-- theme picker ends -->

<!-- Generator BAR-code -->
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>

<!-- Customized page level js -->
<script>
    'use strict'
    $(document).ready(function() {
        /* task dropdown action */
        $('#tasks a').on('click', function(e) {
            e.preventDefault()
            $(this).tab('show')
        });

        /* calander picker */
        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#daterangeadminux span').html(start.format('MMM D, YY') + ' - ' + end.format('MMM D, YY'));
        }

        $('#daterangeadminux').daterangepicker({
            startDate: start,
            endDate: end,
            opens: 'left',
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);
        $('#daterangeadminux').on('show.daterangepicker', function(ev, picker) {
            var thisdp = $('.daterangepicker');
            setTimeout(function() {
                thisdp.addClass('active');
            }, 100);
        });
        $('#daterangeadminux').on('hide.daterangepicker', function(ev, picker) {
            var thisdpc = $('.daterangepicker');
            thisdpc.removeClass('active');

        });
        var path = '../assets/img/background-part.png';
        $('.daterangepicker').append('<div class="background" style="background-image: url(' + path + '); z-index:-1; height:80px;"><img th:src="@{/img/background-part.png}" alt="" style="display:none"></div>')
        /* calander picker ends */

    });

</script>
<!-- Customized page level js ends -->
</body>

<!-- Body ends -->

</html>