<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="content" class="header">
    <!-- Fixed navbar -->
    <nav class="container-fluid">
        <div class="row">
            <div class="col align-self-center">
                <a href="" class="logo text-white">
                    <img src="../assets/img/logoicon.svg" alt="" class="logo-icon">
                    <div class="logo-text">
                        <h5 class="fs22 mb-0">AdminUX <sup class="badge badge-danger">PRO</sup></h5>
                        <p class="text-uppercase fs11">Admin Dashboard</p>
                    </div>
                </a>
            </div>
        </div>
    </nav>
</header>
</body>
</html>