<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head tag -->
<div th:replace="~{header :: content}"></div>
<!-- Head tag ends -->

<!-- Body -->

<body class="sidemenu-open">
<!-- loader -->
<div th:replace="~{loader :: content}"></div>

<!-- Sidebar starts -->
<div th:replace="~{sidebar :: content}"></div>
<!-- Sidebar ends -->
<!-- wrapper starts -->
<div class="wrapper">

    <div class="content shadow-sm ">
        <!-- Header-container Starts -->
        <div th:replace="~{header-container :: content}"></div>
        <!-- Header-container Ends -->


        <!-- Main container starts -->
        <div class="container main-containe" id="main-container">
            <div class="card border-0 shadow-sm mb-4">
                <div class="card-header border-0 bg-none">
                    <div class="row">
                        <div class="col-12 col-md">
                            <p class="fs15" th:text="${title}">Список сотрудников</p>
                        </div>
                        <div class="col-auto align-self-center">
                            <button class="btn btn-sm btn-outline-template ml-2" data-toggle="modal" data-target="#addModal">
                                <i class="material-icons md-18">add</i> Добаить
                            </button>
                            <button class="btn btn-sm btn-outline-template ml-2">
                                <i class="material-icons md-18">cloud_download</i> Выгрузить
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table w-100 mb-0">
                        <thead>
                        <tr>
                            <th class="all">ID</th>
                            <th class="min-tablet">Код места хранения</th>
                            <th class="min-tablet">Зона</th>
                            <th class="min-tablet">Ряд</th>
                            <th class="min-tablet">X</th>
                            <th class="min-tablet">Y</th>
                            <th class="min-tablet">Z</th>
                            <th class="min-tablet">Свободно</th>
                            <th class="">Статус</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody th:each="location, iterStat : ${locationList}">
                        <tr>
                            <!-- {index = 1, count = 2, size = 7, current = Antarctica} -->
                            <!-- Employee(employeeID=0, employeeName=Тыняный Андрей, tabNum=00001, del=false, roleID=7) -->
                            <td th:text="${location.getLocationID()}">0001</td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${location.getLocationCode()}">Код места</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${location.getZoneName()}">Зона</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${location.getRow()}">Ряд</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${location.getX()}">Х</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${location.getY()}">У</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${location.getZ()}">З</p>
                            </td>
                            <td>
                                <span th:if="${location.getAvailable() == false}"><div class="btn-danger btn btn-sm">Занято</div></span>
                                <span th:if="${location.getAvailable() == true}"><div class="btn-success btn btn-sm">Свободно</div></span>
                            </td>
                            <td>
                                <span th:if="${location.getDel() == false}"><div class="btn-success btn btn-sm">Активен</div></span>
                                <span th:if="${location.getDel() == true}"><div class="btn-danger btn btn-sm">Отключен</div></span>

                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle btn-sm btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_horiz</i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#viewModal_id_'+${location.getLocationID()}">Просмотр</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#editModal_id_'+${location.getLocationID()}">Редактировать</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#barCodeModal_id_'+${location.getLocationID()}">Штрих-код</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#delModal_id_'+${location.getLocationID()}">Удалить</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <nav class="mb-4">
                        <ul class="pagination pagination-rounded justify-content-center" >
                            <li class="page-item" th:style="${previewPage < 0 ? 'display:none;':''}">
                                <a class="page-link" th:href="@{${baseUrl}+'?page='+${previewPage}+${filter}}"><i class="material-icons">keyboard_arrow_left</i></a>
                            </li>
                            <li class="page-item" th:classappend="${n == currentPage ? 'active' : ''}" th:each="n: ${#numbers.sequence(0, totalPage)}">
                                <a class="page-link" th:href="@{${baseUrl}+'?page='+${n}+${filter}}" th:text="${n}+1"></a>
                            </li>
                            <li class="page-item" th:style="${nextPage > totalPage ? 'display:none;':''}">
                                <a class="page-link" th:href="@{${baseUrl}+'?page='+${nextPage}+${filter}}"><i class="material-icons">keyboard_arrow_right</i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Main container ends -->

    </div>

    <!-- Footer starts -->
    <div th:replace="~{footer :: content}"></div>
    <!-- Footer ends -->

</div>
<!-- wrapper ends -->

<!-- Модалки для редактирования строк -->
<span th:each="location, iterStat : ${locationList}">
    <!-- Modal -->
    <div class="modal fade" th:id="'viewModal_id_'+${location.locationID}" tabindex="-1" role="dialog" th:aria-labelledby="'viewModal_id_'+${location.locationID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'viewModalLabel'+${location.locationID}" th:text="'Зона хранения:' + ${location.locationCode}">Зона хранения: Название роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Зона хранения</label>
                        <input type="text" class="form-control form-control-lg" name="zone" th:value="${location.zoneName}" readonly>
                    </div>
                    <div class="form-group">
                        <label>Номер ряда</label>
                        <input type="text" class="form-control form-control-lg" name="row" th:value="${location.row}" readonly>
                    </div>
                    <div class="form-group">
                        <label>Координаты по горизонтали</label>
                        <input type="text" class="form-control form-control-lg" name="x" th:value="${location.x}" readonly>
                        <label>Координаты по вертикали</label>
                        <input type="text" class="form-control form-control-lg" name="y" th:value="${location.y}" readonly>
                        <label>Номер полки если место разделено на несколько</label>
                        <input type="text" class="form-control form-control-lg" name="z" th:value="${location.z}" readonly>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2" th:checked="${location.available ? true: false}" readonly>
                                <label class="custom-control-label" for="customCheck2">Место доступно</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'editModal_id_'+${location.locationID}" tabindex="-1" role="dialog" th:aria-labelledby="'editModal_id_'+${location.locationID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'editModalLabel'+${location.locationID}" th:text="'Редактируем место хранения: ' + ${location.locationCode}">Редактируем сотрудника: Название пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form th:id="'editForm_id_'+${location.locationID}" th:action="@{${baseUrl}+'/update'}" method="post">
                        <input type="hidden" name="locationID" th:value="${location.locationID}">
                        <input type="hidden" name="locationCode" th:value="${location.locationCode}">
                        <div class="form-group">
                            <label>Зона хранения</label>
                            <select class="form-control form-control-lg" name="zoneID">
                                <option th:each="zone : ${zoneList}" th:value="${zone.zoneID}" th:text="${zone.zoneName}" th:selected="${zone.zoneID==location.zoneID}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Номер ряда</label>
                            <input type="text" class="form-control form-control-lg" name="row" th:value="${location.row}">
                        </div>
                        <div class="form-group">
                            <label>Координаты по горизонтали</label>
                            <input type="text" class="form-control form-control-lg" name="x" th:value="${location.x}">
                            <label>Координаты по вертикали</label>
                            <input type="text" class="form-control form-control-lg" name="y" th:value="${location.y}">
                            <label>Номер полки если место разделено на несколько</label>
                            <input type="text" class="form-control form-control-lg" name="z" th:value="${location.z}">
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" th:id="'available_'+${location.locationID}" name="available" th:checked="${location.available ? true: false}" value="1">
                                            <label class="custom-control-label" th:for="'available_'+${location.locationID}">Место доступно</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" th:id="'del_'+${location.locationID}" name="del" th:checked="${location.del ? true: false}" value="1">
                                            <label class="custom-control-label" th:for="'del_'+${location.locationID}">Не использовать</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                        <label>Объем места</label>
                        <input type="text" class="form-control form-control-lg" name="capacity"  th:value="${location.capacity}">
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'editForm_id_'+${location.locationID}">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'delModal_id_'+${location.locationID}" tabindex="-1" role="dialog" th:aria-labelledby="'delModal_id_'+${location.locationID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'delModalLabel'+${location.locationID}" th:text="'Удалить место хранения:' + ${location.locationCode}">Удалить Зону хранения: Название роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:id="'delForm_id_'+${location.locationID}" th:action="@{${baseUrl}+'/del'}">
                        <input type="hidden" name="locationID" th:value="${location.locationID}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'delForm_id_'+${location.locationID}">Удалить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'barCodeModal_id_'+${location.locationID}" tabindex="-1" role="dialog" th:aria-labelledby="'barCodeModal_id_'+${location.locationID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'barCodeModalLabel'+${location.locationID}" th:text="'Штрих-код места:' + ${location.locationCode}">Удалить Зону хранения: Название роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="m-auto" style="width: 380px;">
                          <!-- вставляем сгенерированный код в виде векторного рисунка -->
                          <svg class="d-block m-auto" th:id="'barcode_'+${location.locationID}"></svg>
                          <script th:inline="javascript">
                              document.addEventListener('DOMContentLoaded', function(){
                                  JsBarcode([['#barcode_' + ${location.locationID}]], [[${location.locationCode}]], {
                                      format: "CODE128",
                                      displayValue: true,
                                      fontSize: 20,
                                      width: 2,
                                      height: 100
                                  });
                              });
                          </script>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'delForm_id_'+${location.locationID}">Печать</button>
                </div>
            </div>
        </div>
    </div>

</span>

<!-- Modal ADD -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" th:aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-darkblue text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel" >Добавить нового сотрудника</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addForm" th:action="@{${baseUrl}+'/add'}" th:object="${locationEntity}" method="post">
                    <input  type="hidden" th:field="*{locationID}" class="form-control" value="0">
                    <input  type="hidden" th:field="*{locationCode}" class="form-control" value="0">
                    <input  type="hidden" th:field="*{del}" class="form-control" value="0">
                    <div class="form-group">
                        <label>Зона хранения</label>
                        <select class="form-control form-control-lg" name="zoneID">
                            <option th:each="zone : ${zoneList}" th:value="${zone.zoneID}" th:text="${zone.zoneName}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Номер ряда</label>
                        <input type="text" class="form-control form-control-lg" th:field="*{row}" value="">
                    </div>
                    <div class="form-group">
                        <label>Координаты по горизонтали</label>
                        <input type="text" class="form-control form-control-lg" th:field="*{x}" value="">
                        <label>Координаты по вертикали</label>
                        <input type="text" class="form-control form-control-lg" th:field="*{y}" value="">
                        <label>Номер полки если место разделено на несколько</label>
                        <input type="text" class="form-control form-control-lg" th:field="*{z}" value="">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" th:field="*{available}" value="1" checked>
                            <label class="custom-control-label" >Место доступно</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Объем места</label>
                        <input type="text" class="form-control form-control-lg" th:field="*{capacity}" value="1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="addForm">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<!-- Theme style picker modal window and options ends -->

<!-- Global js mandatory -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script><script th:src="@{/vendor/cookie/jquery.cookie.js}"></script>
<!-- Global js ends -->

<!-- Vendor or 3rd party js -->

<!-- date range picker -->
<script th:src="@{/vendor/daterangepicker-master/moment.min.js}"></script>
<script th:src="@{/vendor/daterangepicker-master/daterangepicker.js}"></script>


<!-- Vendor or 3rd party js ends -->

<!-- Customized template js mandatory -->
<script th:src="@{/js/main.js}"></script>
<!-- Customized template js ends -->

<!-- theme picker -->
<script th:src="@{/js/style-picker.js}"></script>
<!-- theme picker ends -->

<!-- Generator BAR-code -->
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>

<!-- Customized page level js -->
<script>
    'use strict'
    $(document).ready(function() {
        /* task dropdown action */
        $('#tasks a').on('click', function(e) {
            e.preventDefault()
            $(this).tab('show')
        });

        /* calander picker */
        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#daterangeadminux span').html(start.format('MMM D, YY') + ' - ' + end.format('MMM D, YY'));
        }

        $('#daterangeadminux').daterangepicker({
            startDate: start,
            endDate: end,
            opens: 'left',
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);
        $('#daterangeadminux').on('show.daterangepicker', function(ev, picker) {
            var thisdp = $('.daterangepicker');
            setTimeout(function() {
                thisdp.addClass('active');
            }, 100);
        });
        $('#daterangeadminux').on('hide.daterangepicker', function(ev, picker) {
            var thisdpc = $('.daterangepicker');
            thisdpc.removeClass('active');

        });
        var path = '../assets/img/background-part.png';
        $('.daterangepicker').append('<div class="background" style="background-image: url(' + path + '); z-index:-1; height:80px;"><img th:src="@{/img/background-part.png}" alt="" style="display:none"></div>')
        /* calander picker ends */

    });

</script>
<!-- Customized page level js ends -->
</body>

<!-- Body ends -->

</html>