<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head tag -->
<div th:replace="~{header :: content}"></div>
<!-- Head tag ends -->

<!-- Body -->

<body class="sidemenu-open">
<!-- loader -->
<div th:replace="~{loader :: content}"></div>

<!-- Sidebar starts -->
<div th:replace="~{sidebar :: content}"></div>
<!-- Sidebar ends -->
<!-- wrapper starts -->
<div class="wrapper">

    <div class="content shadow-sm ">
        <!-- Header-container Starts -->
        <div th:replace="~{header-container :: content}"></div>
        <!-- Header-container Ends -->


        <!-- Main container starts -->
        <div class="container main-containe" id="main-container">
            <div class="card border-0 shadow-sm mb-4">
                <div class="card-header border-0 bg-none">
                    <div class="row">
                        <div class="col-12 col-md">
                            <p class="fs15" th:text="${title}">Справочник товаров</p>
                        </div>
                        <div class="col-auto align-self-center">
                            <button class="btn btn-sm btn-outline-template ml-2" id="addProduct">
                                <i class="material-icons md-18">update</i> Обновить
                            </button>
                            <button class="btn btn-sm btn-outline-template ml-2">
                                <i class="material-icons md-18">cloud_download</i> Export
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table w-100 mb-0">
                        <thead>
                        <tr>
                            <th class="all">ID</th>
                            <th class="min-tablet">Наименование</th>
                            <th class="min-tablet">Код</th>
                            <th class="min-tablet">Вес(кг)</th>
                            <th class="min-tablet">Обьем(м^2)</th>
                            <th class="min-tablet">Категория товара</th>
                            <th class="min-tablet">ABC</th>
                            <th class="">Статус</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody th:each="product, iterStat : ${productsList}">
                        <tr>
                            <!-- {index = 1, count = 2, size = 7, current = Antarctica} -->
                            <!-- Employee(employeeID=0, employeeName=Тыняный Андрей, tabNum=00001, del=false, roleID=7) -->
                            <td th:text="${product.productID}">0001</td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${product.productName}">Наименование</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${product.productCode}">Код</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${product.weight}">Вес(кг)</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text='${#numbers.formatDecimal(product.volume, 1, 6)}'>Обьем(м^2)</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${product.categoryName}">Категория товара</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${product.abcName}">ABC</p>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle btn-sm btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_horiz</i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#viewModal_id_'+${product.productID}">Просмотр</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#editModal_id_'+${product.productID}">Редактировать</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#barCodeModal_id_'+${product.productID}">Штрих-код</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#delModal_id_'+${product.productID}">Удалить</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:replace="~{pagings :: content}"></div>
            </div>
        </div>
        <!-- Main container ends -->

        <!-- Всплывающие сообщения -->
        <div th:replace="~{update_record_modal :: content}"></div>
        <!-- Всплывающие сообщения END -->

    </div>

    <!-- Footer starts -->
    <div th:replace="~{footer :: content}"></div>
    <!-- Footer ends -->

</div>
<!-- wrapper ends -->

<!-- Модалки для редактирования строк -->
<span th:each="product, iterStat : ${productsList}">
    <!-- Modal -->
    <div class="modal fade" th:id="'viewModal_id_'+${product.productID}" tabindex="-1" role="dialog" th:aria-labelledby="'viewModal_id_'+${product.productID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'viewModalLabel'+${product.productID}" th:text="'Зона хранения:' + ${product.productName}">Зона хранения: Название роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Зона хранения</label>
                        <input type="text" class="form-control form-control-lg" name="zone" th:value="${product.productID}" readonly>
                    </div>
                    <div class="form-group">
                        <label>Номер ряда</label>
                        <input type="text" class="form-control form-control-lg" name="row" th:value="${product.productID}" readonly>
                    </div>
                    <div class="form-group">
                        <label>Координаты по горизонтали</label>
                        <input type="text" class="form-control form-control-lg" name="x" th:value="${product.productID}" readonly>
                        <label>Координаты по вертикали</label>
                        <input type="text" class="form-control form-control-lg" name="y" th:value="${product.getProductID()}" readonly>
                        <label>Номер полки если место разделено на несколько</label>
                        <input type="text" class="form-control form-control-lg" name="z" th:value="${product.getProductID()}" readonly>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2" th:checked="${product.getDel() ? true: false}" readonly>
                                <label class="custom-control-label" for="customCheck2">Место доступно</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Тип места</label>
                        <input type="text" class="form-control form-control-lg" name="row" th:value="${product.getProductID()}" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'editModal_id_'+${product.productID}" tabindex="-1" role="dialog" th:aria-labelledby="'editModal_id_'+${product.productID}" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'editModalLabel'+${product.getProductID()}" th:text="'Редактируем товар: ' + ${product.getProductName()}">Редактируем товар: Название пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" th:id="'editForm_id_'+${product.productID}" th:action="@{${baseUrl}+'/update'}">
                        <input type="hidden" name="productID" th:value="${product.productID}">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Категория ABC</label>
                                    <select class="form-control form-control-lg" name="abcID">
                                        <option th:each="abcItem : ${abcList}" th:value="${abcItem.getAbcID()}" th:text="${abcItem.getCode()}" th:selected="${abcItem.getAbcID() == product.abcID}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Категория</label>
                                    <select class="form-control form-control-lg" name="categoryID">
                                        <option th:each="categoryItem : ${categoriesList}" th:value="${categoryItem.getCategoryID()}" th:text="${categoryItem.getCategoryName()}" th:selected="${categoryItem.getCategoryID() == product.getCategoryID()}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Название</label>
                            <textarea class="form-control"  name="productName" rows="3" th:text="${product.getProductName()}"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Описание</label>
                            <textarea class="form-control"  name="description" rows="3" th:text="${product.getDescription()}"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Поставщик</label>
                            <select class="form-control form-control-lg" name="supplierID">
                                <option th:each="supplierItem : ${supplierList}" th:value="${supplierItem.getSupplierID()}" th:text="${supplierItem.getSupplierName()}" th:selected="${supplierItem.getSupplierID() == product.getSupplierID()}"></option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Код товара</label>
                                    <input type="text" class="form-control form-control-lg" name="productCode" th:value="${product.getProductCode()}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Внутрений код</label>
                                    <input type="text" class="form-control form-control-lg" name="intBarcode" th:value="${product.getIntBarcode()}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Внешний код</label>
                                    <input type="text" class="form-control form-control-lg" name="extBarcode" th:value="${product.getExtBarcode()}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Вес товара(кг)</label>
                                    <input type="text" class="form-control form-control-lg" name="weight" th:value="${#numbers.formatDecimal(product.getWeight(), 1, 6)}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Объем товара(м^3)</label>
                                    <input type="text" class="form-control form-control-lg" name="volume" th:value="${#numbers.formatDecimal(product.getVolume(), 1, 6)}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Минимальный уровень запасов (для уведомлений)</label>
                            <input type="text" class="form-control form-control-lg" name="minimumStockLevel" value="">
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="expirationDateRequired" value = "1" th:id="'chek_expirationDateRequired_'+${product.getProductID()}" class="custom-control-input"  th:checked="${product.getExpirationDateRequired() ? true: false}" >
                                            <label class="custom-control-label" th:for="'chek_expirationDateRequired_'+${product.getProductID()}">Требуется ли отслеживание срока годности?</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="del" value = "1" class="custom-control-input" th:id="'chek_del_'+${product.getProductID()}"  th:checked="${product.getDel() ? true: false}" >
                                            <label class="custom-control-label" th:for="'chek_del_'+${product.getProductID()}" >Не использоваить</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'editForm_id_'+${product.getProductID()}">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'delModal_id_'+${product.getProductID()}" tabindex="-1" role="dialog" th:aria-labelledby="'delModal_id_'+${product.getProductID()}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'delModalLabel'+${product.getProductID()}" th:text="'Удалить место хранения:' + ${product.getProductID()}">Удалить Зону хранения: Название роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:id="'editForm_id_'+${product.getProductID()}" th:action="@{${baseUrl}+'/del'}">
                        <input type="hidden" name="zoneId" th:value="${product.getProductID()}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'delForm_id_'+${product.getProductID()}">Удалить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'barCodeModal_id_'+${product.getProductID()}" tabindex="-1" role="dialog" th:aria-labelledby="'barCodeModal_id_'+${product.getProductID()}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'barCodeModalLabel'+${product.getProductID()}" th:text="'Штрих-код товара:' + ${product.getProductName()}">Название товара</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="m-auto" style="width: 380px;">
                          <!-- вставляем сгенерированный код в виде векторного рисунка -->
                          <svg class="d-block m-auto" th:id="'barcode_'+${product.getProductID()}"></svg>
                          <script th:inline="javascript">
                              document.addEventListener('DOMContentLoaded', function(){
                                  JsBarcode([['#barcode_' + ${product.getProductID()}]], [[${ product.getExtBarcode() != null && !product.getExtBarcode().isEmpty() ? product.getExtBarcode() : product.getIntBarcode() }]], {
                                      format: "CODE128",
                                      displayValue: true,
                                      fontSize: 20,
                                      width: 2,
                                      height: 100
                                  });
                              });
                          </script>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'delForm_id_'+${product.getProductID()}">Печать</button>
                </div>
            </div>
        </div>
    </div>

</span>

<!-- Modal ADD -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" th:aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-darkblue text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel" >Обновление спистка товаров</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Загрузка...</span>
                </div>
                <div> Подождите идет обновление ...</div>
            </div>
        </div>
    </div>
</div>




<div th:replace="~{scripts_connect :: content}"></div>

<!-- Customized page level js -->
<script>
    'use strict'
    $(document).ready(function() {
        /* task dropdown action */
        $('#tasks a').on('click', function(e) {
            e.preventDefault()
            $(this).tab('show')
        });

        /* calander picker */
        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#daterangeadminux span').html(start.format('MMM D, YY') + ' - ' + end.format('MMM D, YY'));
        }

        $('#daterangeadminux').daterangepicker({
            startDate: start,
            endDate: end,
            opens: 'left',
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);
        $('#daterangeadminux').on('show.daterangepicker', function(ev, picker) {
            var thisdp = $('.daterangepicker');
            setTimeout(function() {
                thisdp.addClass('active');
            }, 100);
        });
        $('#daterangeadminux').on('hide.daterangepicker', function(ev, picker) {
            var thisdpc = $('.daterangepicker');
            thisdpc.removeClass('active');

        });
        var path = '../assets/img/background-part.png';
        $('.daterangepicker').append('<div class="background" style="background-image: url(' + path + '); z-index:-1; height:80px;"><img th:src="@{/img/background-part.png}" alt="" style="display:none"></div>')
        /* calander picker ends */

    });

</script>
<!-- Customized page level js ends -->
</body>

<!-- Body ends -->

</html>