<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head tag -->
<div th:replace="~{header :: content}"></div>
<!-- Head tag ends -->

<!-- Body -->

<body class="sidemenu-open">
<!-- loader -->
<div th:replace="~{loader :: content}"></div>

<!-- Sidebar starts -->
<div th:replace="~{sidebar :: content}"></div>
<!-- Sidebar ends -->
<!-- wrapper starts -->
<div class="wrapper">

    <div class="content shadow-sm ">
        <!-- Header-container Starts -->
        <div th:replace="~{header-container :: content}"></div>
        <!-- Header-container Ends -->


        <!-- Main container starts -->
        <div class="container main-containe" id="main-container">
            <div class="card border-0 shadow-sm mb-4">
                <div class="card-header border-0 bg-none">
                    <div class="row">
                        <div class="col-12 col-md">
                            <p class="fs15" th:text="${title}">Справочник товаров</p>
                        </div>
                        <div class="col-auto align-self-center">
                            <button class="btn btn-sm btn-outline-template ml-2" data-toggle="modal" data-target="#addModal">
                                <i class="material-icons md-18">update</i> Обновить данные
                            </button>
                            <button class="btn btn-sm btn-outline-template ml-2">
                                <i class="material-icons md-18">cloud_download</i> Выгрузить
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table w-100 mb-0">
                        <thead>
                        <tr class="text-center">
                            <th class="all">ID</th>
                            <th class="min-tablet">Номер<br>заказа</th>
                            <th class="min-tablet">Дата<br>прихода</th>
                            <th class="min-tablet">Факт.<br>дата</th>
                            <th class="min-tablet">Сотрудник</th>
                            <th class="min-tablet">Кол-во<br>cтрок</th>
                            <th class="min-tablet">Вес<br>(кг)</th>
                            <th class="min-tablet">Обьем<br>(м^2)</th>
                            <th class="">Статус</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody th:each="receiving, iterStat : ${receivingList}">
                        <tr>
                            <!-- {index = 1, count = 2, size = 7, current = Antarctica} -->
                            <!-- 0={dtReal=2030-01-01 12:12, numOrder=Z3454354545, qntRow=5, sumWeight=1500, dtWaiting=2020-01-01 12:12, sumVolume=5, employee=Vasa Pupkin, status=Ожидает} -->
                            <td th:text="${iterStat.count}">0001</td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${receiving.numOrder}">Наименование</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${receiving.dtWaiting}"></p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${receiving.dtReal}"></p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${receiving.employee}"></p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${receiving.qntRow}"></p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${receiving.sumWeight}">Вес(кг)</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${receiving.sumVolume}">Обьем(м^2)</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${receiving.status}">Статус</p>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle btn-sm btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_horiz</i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <a class="dropdown-item" th:href="@{~/{baseUrl}/veiw/{id}(baseUrl = ${baseUrl},id = ${receiving.ID})}" >Просмотр</a>
                                        <a class="dropdown-item" th:href="@{~/{baseUrl}/edit/{id}(baseUrl = ${baseUrl},id = ${receiving.ID})}" >Редактировать</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#listModal" >Маршрутный лист</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#palletModal" >Паллетный лист</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#korobModal" >Паллетный лист</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:replace="~{pagings :: content}"></div>
            </div>
        </div>
        <!-- Main container ends -->
        <!-- Всплывающие сообщения -->
        <div th:replace="~{update_record_modal :: content}"></div>
        <!-- Всплывающие сообщения END -->
    </div>

    <!-- Footer starts -->
    <div th:replace="~{footer :: content}"></div>
    <!-- Footer ends -->

</div>
<!-- wrapper ends -->

<!-- Modal -->
<div class="modal fade" id="themepicker" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content shadow-lg-dark overflow-hidden">
            <button type="button" class="closePersonalize" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">
                <div class="background h-320">
                    <img th:src="@{/img/background-part.png}" alt="">
                </div>
                <div class="text-center pb-5">
                    <h1 class="mt-3 mb-0 text-white">Personalize</h1>
                    <h4 class="mb-5 text-white font-weight-light">Make it more like yours</h4>
                </div>

                <div class="row top-60">
                    <div class="col-12 col-sm-6 col-lg-3 mb-4">
                        <div class="card border-0 shadow bg-white h-100">
                            <div class="card-body text-center">
                                <i class="avatar avatar-60 md-36 material-icons text-template-primary my-3">format_shapes</i>
                                <h6 class="mb-3">Font Size</h6>
                                <div class="row">
                                    <div class="col-12 px-0">
                                        <ul class="list-group list-group-flush mb-0 text-left">
                                            <li class="list-group-item">
                                                XS
                                                <div class="custom-control custom-switch float-right">
                                                    <input type="radio" name="fontsize" class="custom-control-input" id="xsmallfs">
                                                    <label class="custom-control-label" for="xsmallfs"></label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                S
                                                <div class="custom-control custom-switch float-right">
                                                    <input type="radio" name="fontsize" class="custom-control-input" id="smallfs" checked>
                                                    <label class="custom-control-label" for="smallfs"></label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                M
                                                <div class="custom-control custom-switch float-right">
                                                    <input type="radio" name="fontsize" class="custom-control-input" id="mediumfs">
                                                    <label class="custom-control-label" for="mediumfs"></label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                L
                                                <div class="custom-control custom-switch float-right">
                                                    <input type="radio" name="fontsize" class="custom-control-input" id="largefs">
                                                    <label class="custom-control-label" for="largefs"></label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-4">
                        <div class="card border-0 shadow bg-white h-100">
                            <div class="card-body text-center">
                                <i class="avatar avatar-60 md-36 material-icons bg-light-warning text-warning my-3">style</i>
                                <h6 class="mb-3">Sidebar</h6>
                                <div class="row">
                                    <div class="col-12 px-0">
                                        <ul class="list-group list-group-flush mb-0 text-left">
                                            <li class="list-group-item">
                                                Normal
                                                <div class="custom-control custom-switch float-right">
                                                    <input type="radio" name="sidebar" class="custom-control-input" id="sidebarfull" checked>
                                                    <label class="custom-control-label" for="sidebarfull"></label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                Compact
                                                <div class="custom-control custom-switch float-right">
                                                    <input type="radio" name="sidebar" class="custom-control-input" id="sidebarCompact">
                                                    <label class="custom-control-label" for="sidebarCompact"></label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                Iconic
                                                <div class="custom-control custom-switch float-right">
                                                    <input type="radio" name="sidebar" class="custom-control-input" id="sidebarIconic">
                                                    <label class="custom-control-label" for="sidebarIconic"></label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                Fill Color
                                                <div class="custom-control custom-switch float-right">
                                                    <input type="checkbox" class="custom-control-input" id="sidebarFill">
                                                    <label class="custom-control-label" for="sidebarFill"></label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-4">
                        <div class="card border-0 shadow bg-white h-100">
                            <div class="card-body text-center">
                                <i class="avatar avatar-60 md-36 material-icons bg-light-danger text-danger my-3">menu</i>
                                <h6 class="mb-3">Header</h6>
                                <div class="row">
                                    <div class="col-12 px-0">
                                        <ul class="list-group list-group-flush mb-0 text-left">
                                            <li class="list-group-item">
                                                Fixed Top
                                                <div class="custom-control custom-switch float-right">
                                                    <input type="checkbox" class="custom-control-input" id="headerfixed">
                                                    <label class="custom-control-label" for="headerfixed"></label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                Fixed Width
                                                <div class="custom-control custom-switch float-right">
                                                    <input type="checkbox" class="custom-control-input" id="headercontainer">
                                                    <label class="custom-control-label" for="headercontainer"></label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                Fill Color
                                                <div class="custom-control custom-switch float-right">
                                                    <input type="checkbox" class="custom-control-input" id="headerfillcolor">
                                                    <label class="custom-control-label" for="headerfillcolor"></label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-4">
                        <div class="card border-0 shadow bg-white h-100">
                            <div class="card-body text-center">
                                <i class="avatar avatar-60 md-36 material-icons bg-light-success text-success my-3">subtitles</i>
                                <h6 class="mb-3">Content</h6>
                                <div class="row">
                                    <div class="col-12 px-0">
                                        <ul class="list-group list-group-flush mb-0 text-left">
                                            <li class="list-group-item">
                                                Square
                                                <div class="custom-control custom-switch float-right">
                                                    <input type="checkbox" name="sidebar" class="custom-control-input" id="wrapperCorner">
                                                    <label class="custom-control-label" for="wrapperCorner"></label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                Full Width
                                                <div class="custom-control custom-switch float-right">
                                                    <input type="checkbox" name="sidebar" class="custom-control-input" id="contentWidth">
                                                    <label class="custom-control-label" for="contentWidth"></label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                Spacious
                                                <div class="custom-control custom-switch float-right">
                                                    <input type="checkbox" name="sidebar" class="custom-control-input" id="moderntouch">
                                                    <label class="custom-control-label" for="moderntouch"></label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                Fullscreen
                                                <div class="custom-control custom-switch float-right">
                                                    <input type="checkbox" name="sidebar" class="custom-control-input" id="fullscreen">
                                                    <label class="custom-control-label" for="fullscreen"></label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0 pt-0">
                <div class="row w-100 mx-0">
                    <div class="col-12 col-md-6 text-center">
                        <h6><i class="material-icons vm mr-1">brightness_2</i> Dark</h6>
                        <div class="avatar mb-1 avatar-30 bg-dark style-picker" data-target='style-black-dark'></div>
                        <div class="avatar mb-1 avatar-30 bg-darkblue style-picker" data-target='style-darkblue-dark'></div>
                        <div class="avatar mb-1 avatar-30 bg-purple style-picker" data-target='style-purple-dark'></div>
                        <div class="avatar mb-1 avatar-30 bg-blue style-picker" data-target='style-blue-dark'></div>
                        <div class="avatar mb-1 avatar-30 bg-green style-picker" data-target='style-green-dark'></div>
                        <div class="avatar mb-1 avatar-30 bg-pista style-picker" data-target='style-pista-dark'></div>
                        <div class="avatar mb-1 avatar-30 bg-orange style-picker" data-target='style-orange-dark'></div>
                        <div class="avatar mb-1 avatar-30 bg-tomato style-picker" data-target='style-tomato-dark'></div>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <h6><i class="material-icons vm mr-1">brightness_7</i> Light</h6>
                        <div class="avatar mb-1 avatar-30 bg-dark style-picker" data-target='style-black-light'></div>
                        <div class="avatar mb-1 avatar-30 bg-darkblue style-picker" data-target='style-darkblue-light'></div>
                        <div class="avatar mb-1 avatar-30 bg-purple style-picker" data-target='style-purple-light'></div>
                        <div class="avatar mb-1 avatar-30 bg-blue style-picker" data-target='style-blue-light'></div>
                        <div class="avatar mb-1 avatar-30 bg-green style-picker" data-target='style-green-light'></div>
                        <div class="avatar mb-1 avatar-30 bg-pista style-picker" data-target='style-pista-light'></div>
                        <div class="avatar mb-1 avatar-30 bg-orange style-picker" data-target='style-orange-light'></div>
                        <div class="avatar mb-1 avatar-30 bg-tomato style-picker" data-target='style-tomato-light'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Модалки для редактирования строк -->
<span th:each="product, iterStat : ${productsList}">
    <!-- Modal -->
    <div class="modal fade" th:id="'viewModal_id_'+${product.productID}" tabindex="-1" role="dialog" th:aria-labelledby="'viewModal_id_'+${product.productID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'viewModalLabel'+${product.productID}" th:text="'Зона хранения:' + ${product.productName}">Зона хранения: Название роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Зона хранения</label>
                        <input type="text" class="form-control form-control-lg" name="zone" th:value="${product.productID}" readonly>
                    </div>
                    <div class="form-group">
                        <label>Номер ряда</label>
                        <input type="text" class="form-control form-control-lg" name="row" th:value="${product.productID}" readonly>
                    </div>
                    <div class="form-group">
                        <label>Координаты по горизонтали</label>
                        <input type="text" class="form-control form-control-lg" name="x" th:value="${product.productID}" readonly>
                        <label>Координаты по вертикали</label>
                        <input type="text" class="form-control form-control-lg" name="y" th:value="${product.productID}" readonly>
                        <label>Номер полки если место разделено на несколько</label>
                        <input type="text" class="form-control form-control-lg" name="z" th:value="${product.productID}" readonly>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2" th:checked="${product.del ? true: false}" readonly>
                                <label class="custom-control-label" for="customCheck2">Место доступно</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Тип места</label>
                        <input type="text" class="form-control form-control-lg" name="row" th:value="${product.productID}" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'editModal_id_'+${product.productID}" tabindex="-1" role="dialog" th:aria-labelledby="'editModal_id_'+${product.productID}" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'editModalLabel'+${product.productID}" th:text="'Редактируем товар: ' + ${product.productName}">Редактируем товар: Название пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:id="'editForm_id_'+${product.productID}" th:action="@{${baseUrl}+'/update'}">
                        <input type="hidden" name="productId" th:value="${product.productID}">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Категория ABC</label>
                                    <select class="form-control form-control-lg" name="abcID">
                                        <option th:each="abc : ${abcList}" th:value="${abc.abcID}" th:text="${abc.code}" th:selected="${abc.abcID==product.abcID}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Категория</label>
                                    <select class="form-control form-control-lg" name="categoryID">
                                        <option th:each="category : ${categoriesList}" th:value="${category.categoryID}" th:text="${category.categoryName}" th:selected="${category.categoryID==product.categoryID}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Название</label>
                            <textarea class="form-control"  name="name" rows="3" th:text="${product.productName}"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Описание</label>
                            <textarea class="form-control"  name="description" rows="3" th:text="${product.description}"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Поставщик</label>
                            <select class="form-control form-control-lg" name="supplierID">
                                <option th:each="supplier : ${supplierList}" th:value="${supplier.supplierID}" th:text="${supplier.supplierName}" th:selected="${supplier.supplierID==product.supplierID}"></option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Код товара</label>
                                    <input type="text" class="form-control form-control-lg" name="code" th:value="${product.productCode}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Еденици измерения</label>
                                    <select class="form-control form-control-lg" name="unitOfMeasureID">
                                        <option th:each="unit : ${unitList}" th:value="${unit.unitOfMeasureID}" th:text="${unit.unitName}" th:selected="${unit.unitOfMeasureID==product.unitOfMeasureID}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Вес товара(кг)</label>
                                    <input type="text" class="form-control form-control-lg" name="weight" th:value="${product.weight}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Объем товара(м^2)</label>
                                    <input type="text" class="form-control form-control-lg" name="volume" th:value="${product.volume}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Минимальный уровень запасов (для уведомлений)</label>
                            <input type="text" class="form-control form-control-lg" name="minimumStockLevel" th:value="${product.minimumStockLevel}">
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                            <input type="checkbox" th:id="'chek_expirationDateRequired_'+${product.productID}" class="custom-control-input"  th:checked="${product.expirationDateRequired ? true: false}" >
                                            <label class="custom-control-label" th:for="'chek_expirationDateRequired_'+${product.productID}">Требуется ли отслеживание срока годности?</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" th:id="'chek_del_'+${product.productID}"  th:checked="${product.del ? true: false}" >
                                            <label class="custom-control-label" th:for="'chek_del_'+${product.productID}" >Не использоваить</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'editForm_id_'+${product.productID}">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'delModal_id_'+${product.productID}" tabindex="-1" role="dialog" th:aria-labelledby="'delModal_id_'+${product.productID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'delModalLabel'+${product.productID}" th:text="'Удалить место хранения:' + ${product.productID}">Удалить Зону хранения: Название роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:id="'editForm_id_'+${product.productID}" th:action="@{${baseUrl}+'/del'}">
                        <input type="hidden" name="zoneId" th:value="${product.productID}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'delForm_id_'+${product.productID}">Удалить</button>
                </div>
            </div>
        </div>
    </div>

</span>

<!-- Modal ADD -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" th:aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-darkblue text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel" >Добавить нового сотрудника</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addForm" th:action="@{${baseUrl}+'/add'}">
                    <div class="form-group">
                        <label>Табельный номер</label>
                        <input type="text" class="form-control form-control-lg" name="tabNum" value="">
                    </div>
                    <div class="form-group" >
                        <label>Фамилия</label>
                        <input type="text" class="form-control form-control-lg" name="LastName" value="">
                        <label>Имя</label>
                        <input type="text" class="form-control form-control-lg" name="Name" value="">
                    </div>
                    <div class="form-group">
                        <label>Роль</label>
                        <select class="form-control form-control-lg" name="roleName">
                            <option th:each="role : ${rolesList}" th:value="${role.roleID}" th:text="${role.name}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="addForm">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="listModal" tabindex="-1" role="dialog" th:aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered text-black-50" role="document" style="max-width: 900px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="listModalLabel" >Предварительный просмотр маршрута: <span th:text="${headerList.get('route')}">5605675</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <link th:href="@{/css/table_picking_list.css}" rel="stylesheet">
                <table border="0" cellpadding="0" cellspacing="0" id="sheet1" class="sheet0 gridlines">
                    <col class="col0">
                    <col class="col1">
                    <col class="col2">
                    <col class="col3">
                    <col class="col4">
                    <col class="col5">
                    <col class="col6">
                    <col class="col7">
                    <col class="col8">
                    <col class="col9">
                    <col class="col10">
                    <col class="col11">
                    <col class="col12">
                    <col class="col13">
                    <col class="col14">
                    <col class="col15">
                    <tbody>
                    <tr class="row0">
                        <td class="column0 style36 s style36" colspan="5">24.03.2025 17:20:23</td>
                        <td class="column5 style37 s style37" colspan="8">Маршрут комплектации № <span th:text="${headerList.get('route')}">5605675</span> от <span th:text="${headerList.get('routeDate')}">25.02.2025</span></td>
                        <td class="column13 style56 null style56" colspan="3">
                            <svg class="d-block m-auto" id="barcode_5605675"></svg>
                            <script th:inline="javascript">
                                document.addEventListener('DOMContentLoaded', function(){
                                    JsBarcode('#barcode_5605675', "5605675", {
                                        format: "CODE128",
                                        displayValue: true,
                                        fontSize: 20,
                                        width: 2,
                                        height: 100
                                    });
                                });
                            </script>
                        </td>
                    </tr>
                    <tr class="row1">
                        <td class="column0 style39 s style47" colspan="5" rowspan="5">Секция № <span th:text="${headerList.get('section')}">5605675</span> (1) Активные секции: <span th:text="${headerList.get('section')}">5605675</span></td>
                        <td class="column5 style48 s style48" colspan="7" rowspan="6">Комментарий менеджера: <span th:text="${headerList.get('comment_manager')}">comment_manager</span></td>
                        <td class="column12 style38 s style38" colspan="4">О3806735</td>
                    </tr>
                    <tr class="row2">
                        <td class="column12 style49 s style49" colspan="2">Статус:</td>
                        <td class="column14 style50 s style50" colspan="2"><span th:text="${headerList.get('status')}">status</span></td>
                    </tr>
                    <tr class="row3">
                        <td class="column12 style49 s style49" colspan="2">Объем, м3</td>
                        <td class="column14 style51 s style51" colspan="2">0,02</td>
                    </tr>
                    <tr class="row4">
                        <td class="column12 style49 s style49" colspan="2">Вес, кг:</td>
                        <td class="column14 style51 s style51" colspan="2">6,09</td>
                    </tr>
                    <tr class="row5">
                        <td class="column12 style52 null style52" colspan="4">

                        </td>
                    </tr>
                    <tr class="row6">
                        <td class="column0 style53 s style53" colspan="5">ТСК № 23 г. Санкт-Петербург</td>
                        <td class="column12 style49 s style49" colspan="2">Способ пост:</td>
                        <td class="column14 style50 s style50" colspan="2">Доставка</td>
                    </tr>
                    <tr class="row7">
                        <td class="column0 style34 s style34" colspan="4">№№ заказов:</td>
                        <td class="column4 style34 s style34" colspan="12">ПР004139814 от 24.03.2025</td>
                    </tr>
                    <tr class="row8">
                        <td class="column0 style35 s style35" colspan="4">Клиент:</td>
                        <td class="column4 style35 s style35" colspan="12">ИП Синичка Л. Н.</td>
                    </tr>
                    <tr class="row9">
                        <td class="column0 style35 s style35" colspan="4">Получатель:</td>
                        <td class="column4 style35 s style35" colspan="12">ИП Синичка Л. Н.</td>
                    </tr>
                    <tr class="row10">
                        <td class="column0 style33 s style33" colspan="4">Адрес поставки:</td>
                        <td class="column4 style33 s style33" colspan="12">
                            <span th:text="${headerList.get('address')}">status</span>
                        </td>
                    </tr>
                    <tr class="row11">
                        <td class="column0 style27 s style28" rowspan="2">№ п/п</td>
                        <td class="column1 style24 s style26" colspan="13">Номенклатура</td>
                        <td class="column14 style29 s style30" rowspan="2">Кол-во заказа</td>
                        <td class="column15 style31 s style31" rowspan="2">Прим.</td>
                    </tr>
                    <tr class="row12">
                        <td class="column1 style32 s style32" colspan="2">Код </td>
                        <td class="column3 style24 s style26" colspan="7">Наименование</td>
                        <td class="column10 style24 s style26" colspan="3">Место хранения</td>
                        <td class="column13 style2 s">Ед.</td>
                    </tr>
                    <tbody th:each="product, iterStat : ${stringList}">
                    <tr class="row13">
                        <td class="column0 style7 s" th:text="${product.id}">1</td>
                        <td class="column1 style18 s style18" colspan="2" th:text="${product.code}">211850</td>
                        <td class="column3 style19 s style21" colspan="7" th:text="${product.name}">Ручка гелевая стираемая LOREX PASTEL Slim Soft 0,5 мм синий 1 шт ultra-soft touch [1/24/288/1728]</td>
                        <td class="column10 style55 n style23" colspan="3" th:text="${product.location}">8/2/2003</td>
                        <td class="column13 style3 s" th:text="${product.unit}">шт</td>
                        <td class="column14 style4 s" th:text="${product.qnt}">48</td>
                        <td class="column15 style54 s"></td>
                    </tr>
                    </tbody>
                    <tr class="row14">
                        <td class="column0 style14 s style14" colspan="2">Позиций:</td>
                        <td class="column2 style15 s style15" colspan="3">10 из 10</td>
                        <td class="column5 style16 null style16" colspan="5"></td>
                        <td class="column10 style17 s style17" colspan="4">Количество мест:</td>
                        <td class="column14 style11 null"></td>
                        <td class="column15 style10 null"></td>
                    </tr>
                    <tr class="row15">
                        <td class="column0 style6 s">Вес:</td>
                        <td class="column1 style5 null"></td>
                        <td class="column2 style1 s style1" colspan="3">6,09</td>
                        <td class="column5 style12 s style12" colspan="3">Комп-щик Тыняный А.В.</td>
                        <td class="column8 style12 s style12" colspan="4">Зав.секции Рыкалина Е.К.</td>
                        <td class="column12 style8 null"></td>
                        <td class="column13 style8 null"></td>
                        <td class="column14 style8 null"></td>
                        <td class="column15 style8 null"></td>
                    </tr>
                    <tr class="row16">
                        <td class="column0 style6 s">Объем</td>
                        <td class="column1 style5 null"></td>
                        <td class="column2 style1 s style1" colspan="3">0,02</td>
                        <td class="column5 style12 s style12" colspan="3">Оператор Волошина Г.П.</td>
                        <td class="column8 style12 s style12" colspan="4">Ревизор_________________</td>
                        <td class="column12 style9 null"></td>
                        <td class="column13 style9 null"></td>
                        <td class="column14 style13 null style13" colspan="2"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" ><i class="material-icons md-18">print</i>Печать</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="palletModal" tabindex="-1" role="dialog" th:aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered text-black-50" role="document" style="max-width: 1240px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="palletModalLabel" >Предварительный просмотр паллетного: О3806735</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <link th:href="@{/css/pallet_list.css}" rel="stylesheet">
                <table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0 gridlines">
                    <col class="col0">
                    <col class="col1">
                    <col class="col2">
                    <col class="col3">
                    <col class="col4">
                    <col class="col5">
                    <col class="col6">
                    <col class="col7">
                    <tbody>
                    <tr class="row0">
                        <td class="column0">&nbsp;</td>
                        <td class="column1">&nbsp;</td>
                        <td class="column2">&nbsp;</td>
                        <td class="column3 style23 s">Отгр. накладная № О3806735 от 25.03.2025</td>
                        <td class="column4">&nbsp;</td>
                        <td class="column5 style10 null style10" colspan="3" rowspan="3">
                            <svg class="d-block m-auto" id="barcode_O3806735"></svg>
                            <script th:inline="javascript">
                                document.addEventListener('DOMContentLoaded', function(){
                                    JsBarcode('#barcode_O3806735', "O3806735", {
                                        format: "CODE128",
                                        displayValue: true,
                                        fontSize: 20,
                                        width: 2,
                                        height: 100
                                    });
                                });
                            </script>
                        </td>
                    </tr>
                    <tr class="row1">
                        <td class="column0">&nbsp;</td>
                        <td class="column1">&nbsp;</td>
                        <td class="column2">&nbsp;</td>
                        <td class="column3">&nbsp;</td>
                        <td class="column4">&nbsp;</td>
                    </tr>
                    <tr class="row2">
                        <td class="column0 style11 s style12" colspan="4">Паллетный лист № ПЛ5605675</td>
                        <td class="column4 style1 s">25.03.2025</td>
                    </tr>
                    <tr class="row3">
                        <td class="column0 style20 s">№№ заказов:</td>
                        <td class="column1 style20 null"></td>
                        <td class="column2 style17 s style17" colspan="6">ПР004139814 от 24.03.2025</td>
                    </tr>
                    <tr class="row4">
                        <td class="column0 style19 s">Клиент:</td>
                        <td class="column1 style19 null"></td>
                        <td class="column2 style18 s style18" colspan="6">ИП Синичкина Л. Н.</td>
                    </tr>
                    <tr class="row5">
                        <td class="column0 style19 s">Получатель:</td>
                        <td class="column1 style19 null"></td>
                        <td class="column2 style18 s style18" colspan="6">ИП Синичкина Л. Н.</td>
                    </tr>
                    <tr class="row6">
                        <td class="column0 style21 s">Адрес поставки:</td>
                        <td class="column1 style21 null"></td>
                        <td class="column2 style22 s style22" colspan="6">
                            <span th:text="${headerList.get('address')}">status</span>
                        </td>
                    </tr>
                    <tr class="row7">
                        <td class="column0 style13 null"></td>
                        <td class="column1 style13 null"></td>
                        <td class="column2 style13 null"></td>
                        <td class="column3 style14 null"></td>
                        <td class="column4 style15 null"></td>
                        <td class="column5 style16 null"></td>
                        <td class="column6 style24 null"></td>
                        <td class="column7 style16 null"></td>
                    </tr>
                    <tr class="row8">
                        <td class="column0 style4 s">Номер п/п</td>
                        <td class="column1 style4 s">Номенклатура</td>
                        <td class="column2 style4 s">Код</td>
                        <td class="column3 style4 s">Наименование продукта</td>
                        <td class="column4 style4 s">Количество</td>
                        <td class="column5 style2 s">Заводские места</td>
                        <td class="column6 style25 s">Сборные места</td>
                        <td class="column7 style2 s">Отгрузка №</td>
                    </tr>
                    <tr class="row9">
                        <td class="column0 style5 n">1</td>
                        <td class="column1 style9 s">010272</td>
                        <td class="column2 style9 s">20002520205</td>
                        <td class="column3 style7 s">Маркер д/бел.досок Centropen WHITE BOARD 1,8 мм черный кругл</td>
                        <td class="column4 style6 n">302.00</td>
                        <td class="column5 style8 n">3</td>
                        <td class="column6 style27 n">1</td>
                        <td class="column7 style3 s">О3806735</td>
                    </tr>
                    <tr class="row10">
                        <td class="column0 style5 n">2</td>
                        <td class="column1 style9 s">014968</td>
                        <td class="column2 style9 s">20002725345</td>
                        <td class="column3 style7 s">Бумага писчая Кондопога А4 45 г/м2, 61 % 500 л.</td>
                        <td class="column4 style6 n">30.00</td>
                        <td class="column5 style8 n">6</td>
                        <td class="column6 style27 null">0</td>
                        <td class="column7 style3 s">О3806735</td>
                    </tr>
                    <tr class="row11">
                        <td class="column0 style5 n">3</td>
                        <td class="column1 style9 s">219551</td>
                        <td class="column2 style9 s">46002525245</td>
                        <td class="column3 style7 s">Ручка маслян. Pensan MY-TECH черный 0,7 мм дымчат. кругл. корп. игольчатый наконечник</td>
                        <td class="column4 style6 n">410.00</td>
                        <td class="column5 style8 n">2</td>
                        <td class="column6 style27 n">1</td>
                        <td class="column7 style3 s">О3806735</td>
                    </tr>
                    <tr class="row12">
                        <td class="column0 style5 n">4</td>
                        <td class="column1 style9 s">249243</td>
                        <td class="column2 style9 s">46002525246</td>
                        <td class="column3 style7 s">Тетрадь 96 л. А5+ кл. скреп. офс. Schoolformat ЦВЕТЫ МИНИМАЛ мел. карт., спл. УФ-лак</td>
                        <td class="column4 style6 n">200.00</td>
                        <td class="column5 style8 n">1</td>
                        <td class="column6 style27 null">0</td>
                        <td class="column7 style3 s">О3806735</td>
                    </tr>
                    <tr class="row13">
                        <td class="column0 style5 n">5</td>
                        <td class="column1 style9 s">211850</td>
                        <td class="column2 style9 s">20002556245</td>
                        <td class="column3 style7 s">Ручка гелевая стираемая LOREX PASTEL Slim Soft 0,5 мм синий 1 шт ultra-soft touch </td>
                        <td class="column4 style6 n">455.00</td>
                        <td class="column5 style8 n">2</td>
                        <td class="column6 style27 n">1</td>
                        <td class="column7 style3 s">О3806735</td>
                    </tr>
                    <tr class="row14">
                        <td class="column0 style5 n">6</td>
                        <td class="column1 style9 s">023812</td>
                        <td class="column2 style9 s">20002589625</td>
                        <td class="column3 style7 s">Стержень шарик. Beifa 927 синий 142 мм 0,7 мм корпус пластик</td>
                        <td class="column4 style6 n">3,000.00</td>
                        <td class="column5 style8 n">10</td>
                        <td class="column6 style27 n">0</td>
                        <td class="column7 style3 s">О3806735</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" ><i class="material-icons md-18">print</i>Печать</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="korobModal" tabindex="-1" role="dialog" th:aria-labelledby="korobModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 400px">
            <div class="modal-header">
                <h5 class="modal-title" id="korobModalLabel" >Печать этикетки на короб</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body bg-white text-black">
                <div class="row">
                    <div class="col-12 text-black text-center">O3806735, ИП Синичкина Л. Н., КЛ0001252</div>
                    <div class="col-12 text-black text-center">
                        <svg class="d-block m-auto" id="barcode_O3"></svg>
                        <script th:inline="javascript">
                            document.addEventListener('DOMContentLoaded', function(){
                                JsBarcode('#barcode_O3', "O3806735", {
                                    format: "CODE128",
                                    displayValue: true,
                                    fontSize: 20,
                                    width: 2,
                                    height: 50
                                });
                            });
                        </script>
                    </div>
                    <div class="col-6 text-black text-left">Количество: 12</div>
                    <div class="col-6 text-black text-right">22.03.2025 10:51</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="addForm"><i class="material-icons md-18">print</i>Печать</button>
            </div>
        </div>
    </div>
</div>


<!-- Theme style picker modal window and options ends -->

<!-- Global js mandatory -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script><script th:src="@{/vendor/cookie/jquery.cookie.js}"></script>
<!-- Global js ends -->

<!-- Vendor or 3rd party js -->

<!-- date range picker -->
<script th:src="@{/vendor/daterangepicker-master/moment.min.js}"></script>
<script th:src="@{/vendor/daterangepicker-master/daterangepicker.js}"></script>


<!-- Vendor or 3rd party js ends -->

<!-- Customized template js mandatory -->
<script th:src="@{/js/main.js}"></script>
<!-- Customized template js ends -->

<!-- theme picker -->
<script th:src="@{/js/style-picker.js}"></script>
<!-- theme picker ends -->

<!-- Generator BAR-code -->
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>

<!-- Customized page level js -->
<script>
    'use strict'
    $(document).ready(function() {
        /* task dropdown action */
        $('#tasks a').on('click', function(e) {
            e.preventDefault()
            $(this).tab('show')
        });

        /* calander picker */
        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#daterangeadminux span').html(start.format('MMM D, YY') + ' - ' + end.format('MMM D, YY'));
        }

        $('#daterangeadminux').daterangepicker({
            startDate: start,
            endDate: end,
            opens: 'left',
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);
        $('#daterangeadminux').on('show.daterangepicker', function(ev, picker) {
            var thisdp = $('.daterangepicker');
            setTimeout(function() {
                thisdp.addClass('active');
            }, 100);
        });
        $('#daterangeadminux').on('hide.daterangepicker', function(ev, picker) {
            var thisdpc = $('.daterangepicker');
            thisdpc.removeClass('active');

        });
        var path = '../assets/img/background-part.png';
        $('.daterangepicker').append('<div class="background" style="background-image: url(' + path + '); z-index:-1; height:80px;"><img th:src="@{/img/background-part.png}" alt="" style="display:none"></div>')
        /* calander picker ends */

    });

</script>
<!-- Customized page level js ends -->
</body>

<!-- Body ends -->

</html>