<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="card border-0 shadow-sm mb-4">
    <div class="card-header border-0 bg-none">
        <div class="row">
            <div class="col-12 col-md">
                <p class="fs15">Table</p>
            </div>
            <div class="col-auto align-self-center">
                <button class="btn btn-sm btn-outline-template ml-2">
                    <i class="material-icons md-18">cloud_download</i> Export
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table w-100 mb-0">
            <thead>
            <tr>
                <th class="all">Order ID</th>
                <th class="min-tablet">Order From</th>
                <th class="min-desktop">Date</th>
                <th class="">Status</th>
                <th class="min-desktop">Order Receiver </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>ID0001</td>
                <td>
                    <div class="media">
                        <figure class="mb-0 avatar avatar-40 mr-2">
                            <img src="../assets/img/user3.png" alt="">
                        </figure>
                        <div class="media-body">
                            <p class="mb-0 template-inverse">John Alexandar</p>
                            <p class="text-template-primary-light">Sydney, Australia</p>
                        </div>
                    </div>
                </td>
                <td>12-12-2019</td>
                <td>
                    <div class="btn-danger btn btn-sm">Accepted</div>
                </td>
                <td>
                    <div class="media">
                        <figure class="mb-0 avatar avatar-40 mr-2">
                            <img src="../assets/img/user1.png" alt="">
                        </figure>
                        <div class="media-body">
                            <p class="mb-0 template-inverse">Sonya Wilson</p>
                            <p class="text-template-primary-light">Aquaguaard Manager</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle btn-sm btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_horiz</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>ID0002</td>
                <td>
                    <div class="media">
                        <figure class="mb-0 avatar avatar-40 mr-2">
                            A
                        </figure>
                        <div class="media-body">
                            <p class="mb-0 template-inverse">Anthony Desouza</p>
                            <p class="text-template-primary-light">Sydney, Australia</p>
                        </div>
                    </div>
                </td>
                <td>12-12-2019</td>
                <td>
                    <div class="btn-warning btn btn-sm">Accepted</div>
                </td>
                <td>
                    <div class="media">
                        <figure class="mb-0 avatar avatar-40 mr-2">
                            <img src="../assets/img/user2.png" alt="">
                        </figure>
                        <div class="media-body">
                            <p class="mb-0 template-inverse">Anjali Govind</p>
                            <p class="text-template-primary-light">Aquaguaard Manager</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle btn-sm btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_horiz</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>ID0003</td>
                <td>
                    <div class="media">
                        <figure class="mb-0 avatar avatar-40 mr-2">
                            M
                        </figure>
                        <div class="media-body">
                            <p class="mb-0 template-inverse">Mark Zukarburgs</p>
                            <p class="text-template-primary-light">Sydney, Australia</p>
                        </div>
                    </div>
                </td>
                <td>12-12-2019</td>
                <td>
                    <div class="btn-primary btn btn-sm">Accepted</div>
                </td>
                <td>
                    <div class="media">
                        <figure class="mb-0 avatar avatar-40 mr-2">
                            <img src="../assets/img/user3.png" alt="">
                        </figure>
                        <div class="media-body">
                            <p class="mb-0 template-inverse">Syam Prashad</p>
                            <p class="text-template-primary-light">Aquaguaard Manager</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle btn-sm btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_horiz</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>ID0004</td>
                <td>
                    <div class="media">
                        <figure class="mb-0 avatar avatar-40 mr-2">
                            <img src="../assets/img/user3.png" alt="">
                        </figure>
                        <div class="media-body">
                            <p class="mb-0 template-inverse">John Doe</p>
                            <p class="text-template-primary-light">Sydney, Australia</p>
                        </div>
                    </div>
                </td>
                <td>12-12-2019</td>
                <td>
                    <div class="btn-success btn btn-sm">Accepted</div>
                </td>
                <td>
                    <div class="media">
                        <figure class="mb-0 avatar avatar-40 mr-2">
                            S
                        </figure>
                        <div class="media-body">
                            <p class="mb-0 template-inverse">Sonya Wilson</p>
                            <p class="text-template-primary-light">Aquaguaard Manager</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle btn-sm btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_horiz</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>ID0005</td>
                <td>
                    <div class="media">
                        <figure class="mb-0 avatar avatar-40 mr-2">
                            M
                        </figure>
                        <div class="media-body">
                            <p class="mb-0 template-inverse">Mark Zukarburgs</p>
                            <p class="text-template-primary-light">Sydney, Australia</p>
                        </div>
                    </div>
                </td>
                <td>12-12-2019</td>
                <td>
                    <div class="btn-success btn btn-sm">Accepted</div>
                </td>
                <td>
                    <div class="media">
                        <figure class="mb-0 avatar avatar-40 mr-2">
                            <img src="../assets/img/user4.png" alt="">
                        </figure>
                        <div class="media-body">
                            <p class="mb-0 template-inverse">Sonya Wilson</p>
                            <p class="text-template-primary-light">Aquaguaard Manager</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle btn-sm btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_horiz</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>