<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head tag -->
<div th:replace="~{header :: content}"></div>
<!-- Head tag ends -->

<!-- Body -->

<body class="sidemenu-open">
<!-- loader -->
<div th:replace="~{loader :: content}"></div>

<!-- Sidebar starts -->
<div th:replace="~{sidebar :: content}"></div>
<!-- Sidebar ends -->
<!-- wrapper starts -->
<div class="wrapper">

    <div class="content shadow-sm ">
        <!-- Header-container Starts -->
        <div th:replace="~{header-container :: content}"></div>
        <!-- Header-container Ends -->


        <!-- Main container starts -->
        <div class="container main-containe" id="main-container">
            <div class="card border-0 shadow-sm mb-4">
                <div class="card-header border-0 bg-none">
                    <div class="row">
                        <div class="col-12 col-md">
                            <p class="fs15">Список пользователей</p>
                        </div>
                        <div class="col-auto align-self-center">
                            <button class="btn btn-sm btn-outline-template ml-2" data-toggle="modal" data-target="#addModal">
                                <i class="material-icons md-18">add</i> Добаить
                            </button>
                            <button class="btn btn-sm btn-outline-template ml-2">
                                <i class="material-icons md-18">cloud_download</i> Export
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table w-100 mb-0">
                        <thead>
                        <tr>
                            <th class="all">ID</th>
                            <th class="min-tablet">Пользователь</th>
                            <th class="min-tablet">Логин</th>
                            <th class="">Статус</th>
                            <th class="">Роль</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody th:each="user, iterStat : ${userList}">

                        <tr>
                            <!-- {index = 1, count = 2, size = 7, current = Antarctica} -->
                            <!-- Role(id=0, name=Доступ запрещен, del=0) -->
                            <td th:text="${user.userID}">0001</td>
                            <td>
                                <!-- UserString(userID=1, login=tynyanyi@mail.ru, del=false, employeeID=1, employeeName=Андрей Тыняный, roleID=2, roleName=Комплектовщик) -->
                                <p class="mb-0 template-inverse" th:text="${user.employeeName}">this name</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${user.login}">this login</p>
                            </td>
                            <td>
                                <span th:if="${user.del == false}"><div class="btn-success btn btn-sm">Активен</div></span>
                                <span th:if="${user.del == true}"><div class="btn-danger btn btn-sm">Отключен</div></span>

                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${user.roleName}">this role</p>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle btn-sm btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_horiz</i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#viewModal_id_'+${user.userID}">Просмотр</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#editModal_id_'+${user.userID}">Редактировать</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#resetModal_id_'+${user.userID}">Сброс пароля</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#barCodeModal_id_'+${user.userID}">Штрих-код</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#delModal_id_'+${user.userID}">Удалить</a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div th:replace="~{pagings :: content}"></div>
            </div>
        </div>
        <!-- Main container ends -->

        <!-- Всплывающие сообщения -->
        <div th:replace="~{update_record_modal :: content}"></div>
        <!-- Всплывающие сообщения END -->

    </div>

    <!-- Footer starts -->
    <div th:replace="~{footer :: content}"></div>
    <!-- Footer ends -->

</div>
<!-- wrapper ends -->

<!-- Модалки для редактирования строк -->
<span th:each="user, iterStat : ${userList}">
    <!-- Modal -->
    <div class="modal fade" th:id="'viewModal_id_'+${user.userID}" tabindex="-1" role="dialog" th:aria-labelledby="'viewModal_id_'+${user.userID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'viewModalLabel'+${user.userID}" th:text="'Пользователь:' + ${user.employeeName}">Пользователь: Название роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Логин</label>
                        <input type="text" class="form-control form-control-lg" name="login" th:value="${user.login}" readonly>
                    </div>
                    <div class="form-group">
                        <label>Сотрудник</label>
                        <input type="text" class="form-control form-control-lg" name="EmployeeName" th:value="${user.employeeName}" readonly>
                    </div>
                    <div class="form-group">
                        <label>Роль</label>
                        <input type="text" class="form-control form-control-lg" name="RoleName" th:value="${user.roleName}" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'delModal_id_'+${user.userID}" tabindex="-1" role="dialog" th:aria-labelledby="'viewModal_id_'+${user.userID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'delModalLabel'+${user.userID}" th:text="'Удалить пользователя:' + ${user.login}">Удалить пользовтеля: Название роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:id="'delForm_id_'+${user.userID}" th:action="@{${baseUrl}+'/del'}">
                        <input type="hidden" name="userid" th:value="${user.userID}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'delForm_id_'+${user.userID}">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</span>

<span th:each="user, iterStat : ${userList}">
    <div class="modal fade" th:id="'editModal_id_'+${user.userID}" tabindex="-1" role="dialog" th:aria-labelledby="'viewModal_id_'+${user.userID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'editModalLabel'+${user.userID}" th:text="'Редактируем пользователя:' + ${user.employeeName}">Редактируем пользователя: Название пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:id="'editForm_id_'+${user.userID}" th:action="@{${baseUrl}+'/update'}" th:object="${user}" method="post">
                        <input type="hidden" name="userID" th:value="${user.userID}">
                        <input type="hidden" name="del" th:value="${user.del}">
                        <div class="form-group">
                                <label>Логин</label>
                                <input type="text" class="form-control" name="login" th:value="${user.login}">
                        </div>
                        <div class="form-group">
                                <label>Сотрудник:</label>
                                <select class="form-control" name = "employeeID" >
                                    <option th:each="employee : ${employeeList1}" th:value="${employee.employeeID}" th:text="${employee.employeeName}" th:selected="${employee.employeeID == user.employeeID}"></option>
                                </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'editForm_id_'+${user.userID}">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'resetModal_id_'+${user.userID}" tabindex="-1" role="dialog" th:aria-labelledby="'viewModal_id_'+${user.userID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'editModalLabel'+${user.userID}" th:text="'Сбросить пароль для:' + ${user.employeeName}">Сбросить пароль для: Название роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:id="'resetForm_id_'+${user.userID}" th:object="${user}" th:action="@{${baseUrl}+'/new_pass'}">
                        <input type="hidden" name="userID" th:value="${user.userID}">
                        <div class="form-group">
                                <label>Новый пароль</label>
                                <input type="password" class="form-control form-control-lg" name="pass1" value="">
                        </div>
                        <div class="form-group">
                                <label>Повторить пароль</label>
                                <input type="password" class="form-control form-control-lg" name="pass2" value="">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'resetForm_id_'+${user.userID}">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

</span>

<!-- Modal ADD -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" th:aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-darkblue text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel" >Добавить нового сотрудника</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addForm" th:action="@{${baseUrl}+'/add'}" th:object="${user}" method="post">
                    <div class="col-md-10 mx-auto">
                        <div class="row ">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group ">
                                    <label>Логин пользователя:</label>
                                    <input  type="email" th:field="*{login}" class="form-control" placeholder="test@test.ru">
                                    <input  type="hidden" th:field="*{userID}" class="form-control" value="0">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group ">
                                    <label>Пароль:</label>
                                    <input type="password" th:field="*{pass}" class="form-control" placeholder="password">
                                </div>
                            </div>
                            <div class="col-12">
                                <input type="hidden" th:field="*{del}" class="form-control" value="0">
                                <div class="form-group">
                                    <label>Cвязь с сотрудником</label>
                                    <select class="form-control" name="employeeID">
                                        <option th:each="employee : ${employeeList1}" th:value="${employee.getEmployeeID()}" th:text="${employee.getEmployeeName()}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="addForm">Сохранить</button>
            </div>
        </div>
    </div>
</div>



<div th:replace="~{scripts_connect :: content}"></div>

<!-- Customized page level js -->
<script>
    'use strict'
    $(document).ready(function() {
        /* task dropdown action */
        $('#tasks a').on('click', function(e) {
            e.preventDefault()
            $(this).tab('show')
        });

        /* calander picker */
        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#daterangeadminux span').html(start.format('MMM D, YY') + ' - ' + end.format('MMM D, YY'));
        }

        $('#daterangeadminux').daterangepicker({
            startDate: start,
            endDate: end,
            opens: 'left',
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);
        $('#daterangeadminux').on('show.daterangepicker', function(ev, picker) {
            var thisdp = $('.daterangepicker');
            setTimeout(function() {
                thisdp.addClass('active');
            }, 100);
        });
        $('#daterangeadminux').on('hide.daterangepicker', function(ev, picker) {
            var thisdpc = $('.daterangepicker');
            thisdpc.removeClass('active');

        });
        var path = '../assets/img/background-part.png';
        $('.daterangepicker').append('<div class="background" style="background-image: url(' + path + '); z-index:-1; height:80px;"><img th:src="@{/img/background-part.png}" alt="" style="display:none"></div>')
        /* calander picker ends */

    });

</script>
<!-- Customized page level js ends -->
</body>

<!-- Body ends -->

</html>