<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head tag -->
<div th:replace="~{header :: content}"></div>
<!-- Head tag ends -->

<!-- Body -->

<body class="sidemenu-open">
<!-- loader -->
<div th:replace="~{loader :: content}"></div>

<!-- Sidebar starts -->
<div th:replace="~{sidebar :: content}"></div>
<!-- Sidebar ends -->
<!-- wrapper starts -->
<div class="wrapper">

    <div class="content shadow-sm ">
        <!-- Header-container Starts -->
        <div th:replace="~{header-container :: content}"></div>
        <!-- Header-container Ends -->


        <!-- Main container starts -->
        <div class="container main-containe" id="main-container">
            <div class="card border-0 shadow-sm mb-4">
                <div class="card-header border-0 bg-none">
                    <div class="row">
                        <div class="col-12 col-md">
                            <p class="fs15" th:text="${title}">Список сотрудников</p>
                        </div>
                        <div class="col-auto align-self-center">
                            <button class="btn btn-sm btn-outline-template ml-2" data-toggle="modal" data-target="#addModal">
                                <i class="material-icons md-18">add</i> Добаить
                            </button>
                            <button class="btn btn-sm btn-outline-template ml-2">
                                <i class="material-icons md-18">cloud_download</i> Export
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table w-100 mb-0">
                        <thead>
                        <tr>
                            <th class="all">ID</th>
                            <th class="min-tablet">Зона хранения</th>
                            <th class="min-tablet">Код</th>
                            <th class="min-desktop">Описание</th>
                            <th class="">Статус</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody th:each="zone, iterStat : ${zonesList}">
                        <tr>
                            <!-- {index = 1, count = 2, size = 7, current = Antarctica} -->
                            <!-- Employee(employeeID=0, employeeName=Тыняный Андрей, tabNum=00001, del=false, roleID=7) -->
                            <td th:text="${zone.zoneID}">0001</td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${zone.zoneName}">this role</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${zone.description}">this login</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${zone.code}">this role</p>
                            </td>
                            <td>
                                <span th:if="${zone.del == false}"><div class="btn-success btn btn-sm">Активен</div></span>
                                <span th:if="${zone.del == true}"><div class="btn-danger btn btn-sm">Отключен</div></span>

                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle btn-sm btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_horiz</i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#viewModal_id_'+${zone.zoneID}">Просмотр</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#editModal_id_'+${zone.zoneID}">Редактировать</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#barCodeModal_id_'+${location.locationID}">Штрих-код</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#delModal_id_'+${zone.zoneID}">Удалить</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Main container ends -->

    </div>

    <!-- Footer starts -->
    <div th:replace="~{footer :: content}"></div>
    <!-- Footer ends -->

</div>
<!-- wrapper ends -->

<!-- Модалки для редактирования строк -->
<span th:each="zone, iterStat : ${zonesList}">
    <!-- Modal -->
    <div class="modal fade" th:id="'viewModal_id_'+${zone.zoneID}" tabindex="-1" role="dialog" th:aria-labelledby="'viewModal_id_'+${zone.zoneID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'viewModalLabel'+${zone.zoneID}" th:text="'Зона хранения:' + ${zone.zoneName}">Зона хранения: Название роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Название зоны хрнения</label>
                        <input type="text" class="form-control form-control-lg" name="zoneName" th:value="${zone.zoneName}" readonly>
                    </div>
                    <div class="form-group">
                            <label>Код зоны хрнения</label>
                            <input type="text" class="form-control form-control-lg" name="zoneCode" th:value="${zone.code}" readonly>
                    </div>
                    <div class="form-group">
                        <label>Описание</label>
                        <textarea class="form-control form-control-lg" rows="3" name="description" th:text="${zone.description}"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'editModal_id_'+${zone.zoneID}" tabindex="-1" role="dialog" th:aria-labelledby="'editModal_id_'+${zone.zoneID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'editModalLabel'+${zone.zoneID}" th:text="'Редактируем сотрудника:' + ${zone.zoneName}">Редактируем сотрудника: Название пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:id="'editForm_id_'+${zone.zoneID}" th:action="@{${baseUrl}+'/update'}">

                        <input type="hidden" name="zoneId" th:value="${zone.zoneID}">
                        <div class="form-group">
                            <label>Название зоны хрнения</label>
                            <input type="text" class="form-control form-control-lg" name="zoneName" th:value="${zone.zoneName}" readonly>
                        </div>
                        <div class="form-group">
                            <label>Код зоны хрнения</label>
                            <input type="text" class="form-control form-control-lg" name="zoneCode" th:value="${zone.code}" readonly>
                        </div>
                        <div class="form-group">
                            <label>Описание</label>
                            <textarea class="form-control form-control-lg" rows="3" name="description" th:text="${zone.description}"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'editForm_id_'+${zone.zoneID}">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'delModal_id_'+${zone.zoneID}" tabindex="-1" role="dialog" th:aria-labelledby="'delModal_id_'+${zone.zoneID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'delModalLabel'+${zone.zoneID}" th:text="'Удалить зону хранения:' + ${zone.zoneName}">Удалить Зону хранения: Название роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:id="'editForm_id_'+${zone.zoneID}" th:action="@{${baseUrl}+'/del'}">
                        <input type="hidden" name="zoneId" th:value="${zone.zoneID}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'delForm_id_'+${zone.zoneID}">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</span>

<!-- Modal ADD -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" th:aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-darkblue text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel" >Добавить нового сотрудника</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addForm" th:action="@{${baseUrl}+'/add'}">
                    <div class="form-group">
                        <label>Табельный номер</label>
                        <input type="text" class="form-control form-control-lg" name="tabNum" value="">
                    </div>
                    <div class="form-group" >
                        <label>Фамилия</label>
                        <input type="text" class="form-control form-control-lg" name="LastName" value="">
                        <label>Имя</label>
                        <input type="text" class="form-control form-control-lg" name="Name" value="">
                    </div>
                    <div class="form-group">
                        <label>Роль</label>
                        <select class="form-control form-control-lg" name="roleName">
                            <option th:each="role : ${rolesList}" th:value="${role.roleID}" th:text="${role.name}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="addForm">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<!-- Theme style picker modal window and options ends -->

<!-- Global js mandatory -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script><script th:src="@{/vendor/cookie/jquery.cookie.js}"></script>
<!-- Global js ends -->

<!-- Vendor or 3rd party js -->

<!-- date range picker -->
<script th:src="@{/vendor/daterangepicker-master/moment.min.js}"></script>
<script th:src="@{/vendor/daterangepicker-master/daterangepicker.js}"></script>


<!-- Vendor or 3rd party js ends -->

<!-- Customized template js mandatory -->
<script th:src="@{/js/main.js}"></script>
<!-- Customized template js ends -->

<!-- theme picker -->
<script th:src="@{/js/style-picker.js}"></script>
<!-- theme picker ends -->

<!-- Customized page level js -->
<script>
    'use strict'
    $(document).ready(function() {
        /* task dropdown action */
        $('#tasks a').on('click', function(e) {
            e.preventDefault()
            $(this).tab('show')
        });

        /* calander picker */
        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#daterangeadminux span').html(start.format('MMM D, YY') + ' - ' + end.format('MMM D, YY'));
        }

        $('#daterangeadminux').daterangepicker({
            startDate: start,
            endDate: end,
            opens: 'left',
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);
        $('#daterangeadminux').on('show.daterangepicker', function(ev, picker) {
            var thisdp = $('.daterangepicker');
            setTimeout(function() {
                thisdp.addClass('active');
            }, 100);
        });
        $('#daterangeadminux').on('hide.daterangepicker', function(ev, picker) {
            var thisdpc = $('.daterangepicker');
            thisdpc.removeClass('active');

        });
        var path = '../assets/img/background-part.png';
        $('.daterangepicker').append('<div class="background" style="background-image: url(' + path + '); z-index:-1; height:80px;"><img th:src="@{/img/background-part.png}" alt="" style="display:none"></div>')
        /* calander picker ends */

    });

</script>
<!-- Customized page level js ends -->
</body>

<!-- Body ends -->

</html>