<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head tag -->
<div th:replace="~{header :: content}"></div>
<!-- Head tag ends -->

<!-- Body -->

<body class="sidemenu-open">
<!-- loader -->
<div th:replace="~{loader :: content}"></div>

<!-- Sidebar starts -->
<div th:replace="~{sidebar :: content}"></div>
<!-- Sidebar ends -->
<!-- wrapper starts -->
<div class="wrapper">

    <div class="content shadow-sm ">
        <!-- Header-container Starts -->
        <div th:replace="~{header-container :: content}"></div>
        <!-- Header-container Ends -->


        <!-- Main container starts -->
        <div class="container main-containe" id="main-container">
            <div class="card border-0 shadow-sm mb-4">
                <div class="card-header border-0 bg-none">
                    <div class="row">
                        <div class="col-12 col-md">
                            <p class="fs15" th:text="${title}">Список сотрудников</p>
                        </div>
                        <div class="col-auto align-self-center">
                            <button class="btn btn-sm btn-outline-template ml-2" data-toggle="modal" data-target="#addModal">
                                <i class="material-icons md-18">add</i> Добаить
                            </button>
                            <button class="btn btn-sm btn-outline-template ml-2">
                                <i class="material-icons md-18">cloud_download</i> Export
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table w-100 mb-0">
                        <thead>
                        <tr>
                            <th class="all">ID</th>
                            <th class="min-tablet">Зона хранения</th>
                            <th class="min-tablet">Код</th>
                            <th class="min-desktop">Описание</th>
                            <th class="">Статус</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody th:each="zone, iterStat : ${zonesList}">
                        <tr>
                            <!-- {index = 1, count = 2, size = 7, current = Antarctica} -->
                            <!-- Employee(employeeID=0, employeeName=Тыняный Андрей, tabNum=00001, del=false, roleID=7) -->
                            <td th:text="${zone.zoneID}">0001</td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${zone.zoneName}">this role</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${zone.code}">this role</p>
                            </td>
                            <td>
                                <p class="mb-0 template-inverse" th:text="${zone.description}">this login</p>
                            </td>
                            <td>
                                <span th:if="${zone.del == false}"><div class="btn-success btn btn-sm">Активен</div></span>
                                <span th:if="${zone.del == true}"><div class="btn-danger btn btn-sm">Отключен</div></span>

                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle btn-sm btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_horiz</i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#viewModal_id_'+${zone.zoneID}">Просмотр</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#editModal_id_'+${zone.zoneID}">Редактировать</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#barCodeModal_id_'+${zone.zoneID}">Штрих-код</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" th:data-target="'#delModal_id_'+${zone.zoneID}">Удалить</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Main container ends -->

    </div>

    <!-- Footer starts -->
    <div th:replace="~{footer :: content}"></div>
    <!-- Footer ends -->

</div>
<!-- wrapper ends -->

<!-- Модалки для редактирования строк -->
<span th:each="zone, iterStat : ${zonesList}">
    <!-- Modal -->
    <div class="modal fade" th:id="'viewModal_id_'+${zone.zoneID}" tabindex="-1" role="dialog" th:aria-labelledby="'viewModal_id_'+${zone.zoneID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'viewModalLabel'+${zone.zoneID}" th:text="'Зона хранения:' + ${zone.zoneName}">Зона хранения: Название роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Название зоны хрнения</label>
                        <input type="text" class="form-control form-control-lg" name="zoneName" th:value="${zone.zoneName}" readonly>
                    </div>
                    <div class="form-group">
                            <label>Код зоны хрнения</label>
                            <input type="text" class="form-control form-control-lg" name="zoneCode" th:value="${zone.code}" readonly>
                    </div>
                    <div class="form-group">
                        <label>Описание</label>
                        <textarea class="form-control form-control-lg" rows="3" name="description" th:text="${zone.description}"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'editModal_id_'+${zone.zoneID}" tabindex="-1" role="dialog" th:aria-labelledby="'editModal_id_'+${zone.zoneID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'editModalLabel'+${zone.zoneID}" th:text="'Редактируем сотрудника:' + ${zone.zoneName}">Редактируем сотрудника: Название пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" th:id="'editForm_id_'+${zone.zoneID}" th:action="@{${baseUrl}+'/update'}">

                        <input type="hidden" name="zoneID" th:value="${zone.zoneID}">
                        <input type="hidden" name="del" th:value="${zone.getDel()}">
                        <div class="form-group">
                            <label>Название зоны хрнения</label>
                            <input type="text" class="form-control form-control-lg" name="zoneName" th:value="${zone.getZoneName()}">
                        </div>
                        <div class="form-group">
                            <label>Код зоны хранения</label>
                            <input type="text" class="form-control form-control-lg" name="code" th:value="${zone.getCode()}">
                        </div>
                        <div class="form-group">
                            <label>Описание</label>
                            <textarea class="form-control form-control-lg" rows="3" name="description" th:text="${zone.getDescription()}"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'editForm_id_'+${zone.zoneID}">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'delModal_id_'+${zone.zoneID}" tabindex="-1" role="dialog" th:aria-labelledby="'delModal_id_'+${zone.zoneID}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkblue text-white">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'delModalLabel'+${zone.zoneID}" th:text="'Удалить зону хранения:' + ${zone.zoneName}">Удалить Зону хранения: Название роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" th:id="'delForm_id_'+${zone.zoneID}" th:action="@{${baseUrl}+'/del'}">
                        <input type="hidden" name="zoneID" th:value="${zone.zoneID}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" th:form="'delForm_id_'+${zone.zoneID}">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</span>

<!-- Modal ADD -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" th:aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-darkblue text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel" >Добавить нового сотрудника</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addForm" method="post" th:action="@{${baseUrl}+'/add'}">
                    <div class="form-group">
                        <label>Название зоны</label>
                        <input type="text" class="form-control form-control-lg" name="zoneName" value="">
                    </div>
                    <div class="form-group" >
                        <label>Код зоны</label>
                        <input type="text" class="form-control form-control-lg" name="code" value="">
                    </div>
                    <div class="form-group">
                        <label>Описание</label>
                        <textarea class="form-control" name="description" rows="3"></textarea>
                    </div>
                    <input type="hidden" name="zoneID" value="0">
                    <input type="hidden" name="del" value="0">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="addForm">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{scripts_connect :: content}"></div>

<!-- Customized page level js ends -->
</body>

<!-- Body ends -->

</html>